<!doctype html>
<html>
  <head>
    <title>Kimono : Turn websites into structured APIs from your browser in seconds</title>
    <meta name="keywords" content="Kimono, API, data, web scraping, data mining">
    <meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<link rel="stylesheet" href="/css/vendor.css">

<link rel='stylesheet' href='/css/app.css'>

<!-- necessary to install chrome extension from the website -->
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/deoaddaobnieaecelinfdllcgdehimih">
<link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  </head>
  <body ng-app="kimWebsiteApp" ng-cloak class="ng-cloak">
    <section id="Wrap">
      <div id="ColorBar">
  <div class="kim-yellow"></div>
  <div class="kim-amber"></div>
  <div class="kim-orange"></div>
  <div class="kim-sunset"></div>
  <div class="kim-red"></div>
  <div class="kim-fuchsia"></div>
  <div class="kim-purple"></div>
  <div class="kim-indigo"></div>
  <div class="kim-blue"></div>
  <div class="kim-aqua"></div>
  <div class="kim-green"></div>
  <div class="kim-lime"></div>
</div>

<div id="Header" ng-controller="HeaderController" ng-cloak class="ng-cloak">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="/" target="_self">kim<span>o</span>n<span>o</span></a> -->
      <a class="navbar-brand" href="/" target="_self" style="text-transform:none">kimono<span>labs</span></a>
      <!-- <p class="navbar-text hidden-sm hidden-xs">Create APIs where they don't exist</p> -->
      <p class="beta-tag">BETA</p>
      <a class="navbar-text kim-new" ng-show="flags.new_features.length > 0" title="New Features" ng-class="{'active':flags.showNotificationPanel, 'highlighted': size(new_features) > 0}" ng-click="openNotifications()"></a>
      <p ng-show="size(new_features) > 0" class="beta-tag kim-feature-count">{{size(new_features)}}</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://builtwith.kimonolabs.com" target="_self">#BuiltWithKimono</a></li>
        <li ng-class="isActive('/pricing')"><a href="/pricing" target="_self">Pricing</a></li>
        <li ng-class="isActive('/apidocs')"><a href="/apidocs" target="_self">API Docs</a></li>
        <li><a href="http://help.kimonolabs.com/hc/en-us" target="_self">Help Center</a></li>
        <li><a href="http://blog.kimonolabs.com/" target="_self">Blog</a></li>
        <li class="dropdown" dropdown ng-show="global.authenticated">
          <a href="#" class="dropdown-toggle" dropdown-toggle id="UserMenu">{{global.user.name}} <b class="caret"></b></a>
          <ul class="dropdown-menu" aria-labelledby="UserMenu">
            <li ng-class="isActive('/profile')"><a href="/account" target="_self">Account</a></li>
            <li ng-class="isActive('/apis')"><a href="/apis" target="_self">My APIs</a></li>
            <li ng-class="isActive('/apps')"><a href="/apps" target="_self">My Apps</a></li>
            <li ng-class="isActive('/newapi')"><a href="/newapi" target="_self">Combine APIs</a></li>
            <li ng-class="isActive('/newapp')"><a href="/newapp" target="_self">App Builder</a></li>
          </ul>
        </li>
        <li ng-if="false" ng-show="user.superuser" class="dropdown">
          <a href="#" class="dropdown-toggle">Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-class="isActive('/admin/beta')"><a href="/admin/beta" target="_self">Beta Invites</a></li>
            <li ng-class="isActive('/admin/users')"><a href="/admin/users" target="_self">Users</a></li>
            <li ng-class="isActive('/admin/apis')"><a href="/admin/apis" target="_self">All APIs</a></li>
            <li ng-class="isActive('/admin/apps')"><a href="/admin/apps" target="_self">All Apps</a></li>
            <li ng-class="isActive('/admin/support')"><a href="/admin/support" target="_self">Support Tickets</a></li>
            <li ng-class="isActive('/admin/errors')"><a href="/admin/errors" target="_self">Server Errors</a></li>
          </ul>
        </li>
        <li ng-show="global.authenticated"><a href="/signout" target="_self">Logout</a></li>
        <li ng-class="isActive('/login')" ng-hide="global.authenticated" id="LoginLink"><a href="/login" target="_self">Log in</a></li>
        <!-- <li ng-hide="global.authenticated" class="hidden-xs" id="LoginPopover"><a href="#" class="login-popover">Log in</a></li> -->
        <!-- <li ng-hide="global.authenticated"><a href="/signup" target="_self">Sign up</a></li> -->
        <li>
          <form ng-hide="global.authenticated" class="navbar-right navbar-form">
            <a class="btn btn-primary btn-sm" href="/signup" target="_self">Sign up</a>
          </form>
        </li>

        <li>
          <form ng-submit="submitSearch()">
            <input type="text" class="header-search" placeholder="Search" ng-model="searchText"/>
          </form>
        </li>
      </ul>

    </div><!-- //navbar-collapse -->
    <div useralert ng-if="showalert" ng-click="alertSeen()"></div>
  </nav>

  <div km-fade="flags.showNotificationPanel" km-in="true" km-out="true" id="kim-Notifications">
    <div class="kim-notification-wrapper">
      <div class="kim-notifications">
        <div class="kim-notification" ng-repeat="notification in flags.new_features | reverse" ng-click="link(notification.link)">
          <div class="kim-thumb" ng-class="{'kim-green': notification.type == 'New Feature', 'kim-purple': notification.type == 'News', 'kim-red': notification.type == 'Bug Fix'}">
            {{notification.type}}
          </div>
          <p class="kim-body">{{notification.message}}</p>
          <div class="arrow"></div>
        </div>
      </div>
    </div>
  </div>

</div>



      <div>
        
<div id="Jobs" class="container" ng-controller="FaqController">

  <h1>Jobs at kimono</h1>
  
  <div class="jobs-intro">
    <div>
      <p>Kimono lets you turn any web site into an API, without writing any code. Our vision is to API-ify all the world’s data to power apps, next generation connected devices, and smart cities. We’re very well funded, backed by top tier investors. We are based in San Francisco, California. Read about us in the press:</p>
      <ul>
        <li><a href="http://venturebeat.com/2014/03/25/here-are-the-5-best-startups-from-y-combinators-demo-day/" target="_self">Venture Beat - 5 Best startups from YC Demo Day</a></li>
        <li><a href="http://techcrunch.com/2014/03/25/best-y-combinator-demo-day-startups/" target="_self">Tech Crunch - Best YC Demo Day Startups</a></li>
        <li><a href="http://www.fastcodesign.com/3027659/a-new-app-that-lets-you-take-apart-websites-and-rebuild-them-at-will" target="_self">FastCo.Design - Kimono</a></li>
        <li><a href="http://www.wired.com/2014/03/kimono/" target="_self">Wired - Kimono</a></li>
        <li><a href="http://pando.com/2014/08/29/yc-grad-kimono-labs-makes-its-giant-respoitory-of-user-generated-apis-searchable/" target="_self">Pando Daily - Kimono makes its giant repository of APIs searchable</a></li>
        <li><a href="http://www.programmableweb.com/news/how-kimono-fills-need-api-second-design-and-transformation-service/analysis/2015/01/29" target="_self">Programmable Web - How Kimono Fills Need For Api-second Design And Transformation-as-a-service</a></li>
        <li><a href="http://www.techinasia.com/kimono-pratap-ranade-ryan-rowe-api-internet/" target="_self">Tech in Asia - Kimono</a></li>
        <li ng-if="false"><a href="http://www.fastcompany.com/3036481/how-i-get-it-done/what-happens-when-you-move-your-company-overseas-for-a-month" target="_self">Fast Company - What happens when you move your company overseas for a month</a></li>
      </ul>
    </div>
    
    <div>
      <h3>We're hiring a designer, an engineer, and Customer Success Interns:</h2>
      <ul>
        <li><a href="#engineer">Software Engineer</a></li>
        <li><a href="#scraping-specialist">Web Scraping Specialist</a></li>
        <li><a href="#designer">Designer</a></li>
        <li><a href="#success">Customer Success Intern</a></li>
        <!-- <li><a href="#platform">Platform / Systems Engineer</a></li> -->
        <!-- <li><a href="#frontend">Front-end web developer</a></li> -->
        <!-- <li><a href="#webapp">Web application engineer</a></li> -->
        <!-- <li><a href="#content">Content Marketer / Writer</a></li> -->
        <!-- <li><a href="#rnd">Research and Development Engineer</a></li> -->
        <!-- <li><a href="#success">Customer success leader</a></li> -->
      </ul>
    </div>

    <div>
      <h3>Perks:</h3>
      <ul>
        <li>We’re a startup, so we run it like one. Shiny new macs and whatever other equipment you need (monitors, wireless keyboards, etc.). All the kimono swag you want. Free lunches everyday. Flexible vacation policy. Awesome co-workers and a great sound system.</li>
      </ul>
    </div>
    
  </div>

  <!-- Software Engineer -->
  <div class="job-detail">
    <h2 class="job-title" id="engineer">Software Engineer</h2>
    
    <div>
      <h3>About the position:</h3>
      <p>As a Software Engineer at Kimono Labs you'll design, build, orchestrate and scale dozens of services across thousands of containers. You'll get your hands dirty with things like PhantomJS and Selenium, task and queueing infrastructure, server and task scheduling and balancing, all the while keeping scale and data flow efficiency in mind.</p>
    </div>

    <div>
      <h3>Who you are:</h3>
      <p>You should be well versed in large systems architecture. You don't just think about data, but how the data flows, how it's stored, and how it's going to be queried. You like solving problems that you've seen before, and more importantly, ones you haven't. You think about parallelism and efficiency at the application, services, and data store levels. You sleep well at night knowing that your systems will self-heal. You take pride in the quality of your work and the speed at which you can produce it.</p>
      <p>Most importantly, you're a great person and a solid nerd who thinks chatting about the Paxos algorithm over beers sounds like a fun night.</p>
    </div>

    <div>
      <h3>What we're looking for:</h3>
      <ul>
        <li>Solid experience and understanding of Node.js and Javascript</li>
        <li>Solid production experience with microservices architectures and polyglot systems</li>
        <li>Solid experience with and knowledge of multiple data stores like MongoDB, redis, and MySQL</li>
        <li>Experience supporting and expanding a product over multiple iterations</li>
        <li>Experience with service integration techniques (Message Queuing, microservices orchestration)</li>
      </ul>
    </div>

    <div>
      <h3>Bonus points:</h3>
      <ul>
        <li>Open-source projects and contributions</li>
        <li>Experience writing fault-tolerant systems at a large scale</li>
        <li>Experience with system clustering and orchestration</li>
        <li>Experience working with data at scale (Hadoop, YARN, etc)</li>
        <li>Complete and utter failure of something you've written in the past</li>
      </ul>
    </div>

    <div>
      <p>You’ll be a critical member of our early team. You’ll receive a competitive salary and significant equity stake. We want to grow a team of people who care about building the absolute best product more than anything else. Feel free to share whatever’s relevant (e.g. products, coding projects, github, epic stories, etc.)</p>
      <p><a href="mailto:jobs@kimonolabs.com?subject=Job%20application%3A%20software%20engineer&body=I%27m%20interested%20in%20joining%20kimono.%20Please%20find%20my%20resume%20attached." class="btn btn-primary">Apply now</a></p>
    </div>
  </div>

  <!-- Web Scraping Specialist -->
  <div class="job-detail">
    <h2 class="job-title" id="scraping-specialist">Web Scraping Specialist</h2>
    
    <div>
      <h3>About the position:</h3>
      <p>As a Web Scraping Specialist at Kimono Labs you’ll work your magic to extract anything and everything from the depths of the web. You'll get your hands dirty with any combination of technologies and techniques you can construct to extract and structure data, manipulate pages, circumvent roadblocks, get behind auth walls and anything else you face. You'll work to recognize patterns and productize your solutions and techniques for integration into our product and our processes.</p>
    </div>

    <div>
      <h3>Who you are:</h3>
      <p>You are extremely well versed the technologies of the web with a deep understanding of HTML and javascript, both old and new. You deeply understand the http protocol and the history of the internet, how it’s evolved over time, and what it takes, front-end and back-end to build web sites of all kinds. You’ve employed your craft to build elegant scraping solutions for extracting and structuring data from around the web. You put an emphasis on the sustainability and reliability of your scrapers rather than the speed with which you can produce them. The harder the problem, and the more difficult the data, the better and the more exciting. You have extreme vigilance, there is nothing that you cannot scrape.</p>
      <p>Most importantly, you're a great person and a solid nerd who thinks chatting about the Paxos algorithm over beers sounds like a fun night.</p>
    </div>

    <div>
      <h3>What we're looking for:</h3>
      <ul>
        <li>Deep experience writing web scrapers at scale for yourself, your clients and/or your company</li>
        <li>Solid experience and understanding of Node.js, Javascript, and/or Python</li>
        <li>Experience working with headless browsers and testing frameworks for website automation</li>
        <li>Experience with and knowledge of multiple data stores like MongoDB, redis, and MySQL</li>
        <li>Experience in web development, both front-end and back-end</li>
      </ul>
    </div>

    <div>
      <h3>Bonus points:</h3>
      <ul>
        <li>Open-source projects and contributions</li>
        <li>Experience with chromium development</li>
        <li>Experience with selenium RC and selenium grid</li>
        <li>Experience working with data at scale (Hadoop, YARN, etc)</li>
        <li>Complete and utter failure of something you've written in the past</li>
      </ul>
    </div>

    <div>
      <p>You’ll be a critical member of our early team. You’ll receive a competitive salary and significant equity stake. We want to grow a team of people who care about building the absolute best product more than anything else. Feel free to share whatever’s relevant (e.g. products, coding projects, github, epic stories, etc.)</p>
      <p><a href="mailto:jobs@kimonolabs.com?subject=Job%20application%3A%20web%20scraping%20specialist&body=I%27m%20interested%20in%20joining%20kimono.%20Please%20find%20my%20resume%20attached." class="btn btn-primary">Apply now</a></p>
    </div>
  </div>

  <!-- Senior Platform Engineer -->
  <!-- <div class="job-detail">
    <h2 class="job-title" id="platform">Senior platform engineer</h2>
    
    <div>
      <h3>As part of our early stage team, you will:</h3>
      <ul>
        <li>Work directly with the founders to shape the product and define the culture</li>
        <li>Build the awesome dev tool you've always wanted for getting data and making APIs</li>
        <li>Develop the core platforms that power the kimono web services</li>
        <li>Dream up killer features and influence what new technologies best fit an evolving stack</li>
        <li>We’re a young startup ... it’s likely you’re going to do everything to help us build this company</li>
      </ul>
    </div>

    <div>
      <h3>What we’re looking for:</h3>
      <ul>
        <li>Someone who’s really, really smart, and hard working</li>
        <li>Production experience with SOA and polyglot systems</li>
        <li>Deep understanding of multiple databases and the tradeoffs necessary in high-throughput environments</li>
        <li>Experience will multiple distributed systems failures</li>
        <li>Production experience with monitoring and logging best practices</li>
        <li>Production experience with continuous integration and continous deployment</li>
      </ul>
    </div>

    <div>
      <h3>Bonus Points:</h3>
      <ul>
        <li>Contributions to publications and/or open-source projects</li>
        <li>Experience with fault-tolerant distributed systems</li>
        <li>Experience with system clustering and orchestration</li>
        <li>Advanced service integration techniques (Message Queuing, Microservices orchestration)</li>
        <li>Experience working with data at scale (Hadoop, Yarn, etc) </li>
      </ul>
    </div>


    <p>You’ll be a critical member of our early team. You’ll receive a competitive salary and significant equity stake. We want to grow a team of people who care about building the absolute best product more than anything else. We like people who like risk, and adventure. We wrote our first lines of kimono code from the Hanoi Social Club in Vietnam, for example. We would love for you to be the type of person who might do that too.</p>

    <p>Feel free to share whatever’s relevant (e.g. products, coding projects, github, epic stories, etc.)</p>
    
    <p><a href="mailto:jobs@kimonolabs.com?subject=Job%20application%3A%20platform%20engineer&body=I%27m%20interested%20in%20joining%20kimono.%20Please%20find%20my%20resume%20attached." class="btn btn-primary">Apply now</a></p>  
  </div> -->

  <!-- Designer -->
  <div class="job-detail">
    <h2 class="job-title" id="designer">Designer</h2>
    
    <div>
      <h3>As a contract designer for kimono, you will:</h3>
      <ul>
        <li>Create beautiful, original designs and user interfaces for the core product and peripheral services</li>
        <li>Work with the founders to refine and apply visual style and brand aesthetics across all aspects of the business</li>
        <li>Create an extensible design language system for the kimono service allowing engineers to implement new features quickly</li>
        <li>Participate in product ideation and conceptual development</li>
        <li>We’re a young startup ... it’s likely you’re going to do everything to help us build this company</li>
      </ul>
    </div>

    <div>
      <h3>What we’re looking for:</h3>
      <ul>
        <li>Someone who’s really, really smart, and hard working</li>
        <li>A strong visual design sensibility including a demonstrable command of typography, layout, color, whitespace and animation</li>
        <li>5+ years of user interface design experience, strong and flexible skills in visual design and interaction design</li>
        <li>Experience designing products and interfaces that have shipped and are used by 100k+ users</li>
        <li>Working knowledge of common user interface design processes and methodologies, in particular applied to web and mobile applications</li>
        <li>Experience working closely with engineers to design and develop in a tight, iterative work flow</li>
        <li>A basic understanding of core front-end web technologies (i.e. html, css, js), their limitations and the user interface paradigms they afford</li>
      </ul>
    </div>

    <div>
      <h3>Bonus Points:</h3>
      <ul>
        <li>Experience and interest in data visualization and information visualtization concepts/technologies</li>
        <li>Front-end web development capabilities (i.e. html, css, js) to design, develop and maintain websites</li>
        <li>Experience designing motion graphics and producing product feature videos with tools such as Adobe After Effects</li>
        <li>Deep information architecture or systems design experience</li>
      </ul>
    </div>

    <p>You’ll be a critical member of our early team. You’ll receive a competitive salary and significant equity stake. We want to grow a team of people who care about building the absolute best product more than anything else. We like people who like risk, and adventure. We wrote our first lines of kimono code from the Hanoi Social Club in Vietnam, for example. We would love for you to be the type of person who might do that too.</p>

    <p>Feel free to share whatever’s relevant (e.g. creative portfolio, projects/products designed by you, etc.)</p>
  </div>

  <!-- Customer Success Engineer -->
  <div class="job-detail">
    <h2 class="job-title" id="success">Customer Success Intern</h2>
    
   <p>Kimono is looking for smart, hard-working people to join our Success team. This is a great opportunity for people looking to develop their technical chops and experience life in a startup! Come join our six month program to learn everything there is to know about startup culture, the basics of web development, user outreach and APIs. During this program, you will focus on building and maintaining APIs for our customers - an experience that will give you a great understanding of the web and services built on top of it.</p>

    <div>
      <h3>What we’re looking for - You are:</h3>
      <ul>
        <li>Extremely self-motivated, resourceful and hard working</li>
        <li>Really smart</li>
        <li>The kind of person who dots your i's and crosses your t's even when nobody is looking </li>
        <li>A great communicator</li>
        <li>Easy to get along with at a late night in the office</li>
      </ul>
    </div>
    <div>
      <h3>At the end of the 6 month period, you will have:</h3>
        <ul>
          <li>First hand experience at an early stage Y-Combinator tech startup, working closely with the team and the founders</li>
          <li> Deep experience with the web, the product development cycle, and all things startups</li>
          <li>A recommendation and introduction to the best startups in Silicon Valley, when you're done</li>
          <li>A rare opportunity to work on the future of the internet</li>
        </ul>
    </div>

    <p>This is a full time role for six months at our San Francisco office.</p>

    <p>Feel free to share whatever’s relevant (e.g. products, your blog, coding projects, github, epic stories, etc.)</p>
    
    <p><a href="mailto:jobs@kimonolabs.com?subject=Job%20application%3A%20Success%20engineer&body=I%27m%20interested%20in%20joining%20kimono.%20Please%20find%20my%20resume%20attached." class="btn btn-primary">Apply now</a></p>
  </div> 

  <!-- Front End Web Developer -->
  <!-- 
  <div class="job-detail">
    <h2 class="job-title" id="frontend">Front-end web developer</h2>
    
    <div>
      <h3>As part of our early stage team, you will:</h3>
      <ul>
        <li>Work directly with the founders to shape the product and define the culture</li>
        <li>Create a high quality, well-crafted front-end</li>
        <li>Define and implement the core user experience for new features, functionality and website</li>
        <li>Ensure responsive, accessible and standards-based development</li>
        <li>Define testing and tuning practices/tools for kimono websites and web apps</li>
        <li>We’re a young startup ... it’s likely you’re going to do everything to help us build this company</li>
      </ul>
    </div>

    <div>
      <h3>What we’re looking for:</h3>
      <ul>
        <li>Someone who’s really, really smart, and hard working</li>
        <li>2-5 years of front-end web application development work experience</li>
        <li>Expert proficiency in everything front end, web: html/css/js/fonts/images</li>
        <li>Mastery of essential developer tools for creating static and dynamic websites</li>
        <li>Passion for design, web standards, accessiblity, with an eye for detail</li>
        <li>Experience with content publishing and social media apis</li>
        <li>Deep understanding of what makes a UI good or bad, and strong intuition for what users want</li>
        <li>Experience moving extremely fast, and shipping products and features early/often</li>
      </ul>
    </div>

    <div>
      <h3>Bonus Points:</h3>
      <ul>
        <li>Experience as a designer and/or working directly with designers</li>
        <li>Working knowledge of other front-end frameworks (angular, backbone, ember, react, etc.)</li>
        <li>Familiar with javascript templating engines (ejs, handlebars, etc)</li>
        <li>Experience with charting and/or data-viz libraries (d3, c3, sigma)</li>
        <li>Working knowledge of node.js, mongoDB, redis and other backend/database technologies</li>
        <li>Contributions to open-source frameworks including node.js/npm or front-end JS libraries</li>
      </ul>
    </div>

    

    <p>You’ll be a critical member of our early team. You’ll receive a competitive salary and significant equity stake. We want to grow a team of people who care about building the absolute best product more than anything else. We like people who like risk, and adventure. We wrote our first lines of kimono code from the Hanoi Social Club in Vietnam, for example. We would love for you to be the type of person who might do that too.</p>

    <p>Feel free to share whatever’s relevant (e.g. products, coding projects, github, epic stories, etc.)</p>  
    
    <p><a href="mailto:jobs@kimonolabs.com?subject=Job%20application%3A%20Experienced%20front-end%20web%20developer&body=I%27m%20interested%20in%20joining%20kimono.%20Please%20find%20my%20resume%20attached." class="btn btn-primary">Apply now</a></p>
  </div> -->

  <!-- Web Application Engineer -->
  <!--   
  <div class="job-detail">
    <h2 class="job-title" id="webapp">Web Application Engineer</h2>
    
    <div>
      <h3>As part of our early stage team, you will:</h3>
      <ul>
        <li>Work directly with the founders to shape the product and define the culture</li>
        <li>Develop core Kimono web applications</li>
        <li>Implement dynamic web app features for visualizing and interacting with kimono data</li>
        <li>We’re a young startup ... it’s likely you’re going to do everything to help us build this company</li>
      </ul>
    </div>

    <div>
      <h3>What we’re looking for:</h3>
      <ul>
        <li>Someone who’s really, really smart, and hard working</li>
        <li>2-5 years of production web application engineering experience</li>
        <li>Expert proficiency in web app stacks: html5/webserver/db (we use the MEAN stack)</li>
        <li>Advanced caching techniques (memcached, redis)</li>
        <li>Knowledge (and understanding) of AngularJS</li>
        <li>Familiarity with web-services architecture and integration</li>
        <li>Mastery of common tools for coding, testing, debugging, tuning</li>
        <li>Deep understanding of engineering best-practices and coding guidelines</li>
        <li>Experience moving extremely fast, and shipping products and features early/often</li>
      </ul>
    </div>

    <div>
      <h3>Bonus Points:</h3>
      <ul>
        <li>Experience working directly with designers and platform engineers</li>
        <li>Working knowledge of other front-end MV* frameworks (backbone, ember, etc.)</li>
        <li>Familiar with advanced HTML5 features (websockets, local storage, etc)</li>
        <li>Contributions to open-source frameworks including node.js/npm or front-end JS libraries</li>
      </ul>
    </div>

    

    <p>You’ll be a critical member of our early team. You’ll receive a competitive salary and significant equity stake. We want to grow a team of people who care about building the absolute best product more than anything else. We like people who like risk, and adventure. We wrote our first lines of kimono code from the Hanoi Social Club in Vietnam, for example. We would love for you to be the type of person who might do that too.</p>

    <p>Feel free to share whatever’s relevant (e.g. products, coding projects, github, epic stories, etc.)</p>  
    
    <p><a href="mailto:jobs@kimonolabs.com?subject=Job%20application%3A%20Experienced%20front-end%20web%20application%20engineer&body=I%27m%20interested%20in%20joining%20kimono.%20Please%20find%20my%20resume%20attached." class="btn btn-primary">Apply now</a></p>
  </div> -->

  <!-- Content Marketer / Writer -->
  <!-- 
  <div class="job-detail">
    <h2 class="job-title" id="content">Content Marketer / Writer</h2>
    
    <div>
      <h3>As a content marketer at kimono you will:</h3>
      <ul>
        <li>Interview power users and blog about how they use kimono – talk to users to learn who they are and deeply understand what they are building with kimono and the specific pain point it solves for them. Write a compelling blog post about the use case and promote the post amongst blogs/press outlets focused on that community</li>
        <li>Write data driven articles – use kimono to collect data and write articles about topical things (e.g., housing price spikes in SF, cryptocurrency price volatility); Use this to make the kimono blog more compelling and drive up readership (e.g., similar to priceonomics blog)</li>
        <li>Write copy to complement launch of kimono special APIs and projects -  (see World Cup API, Sochi Olympics API, Bitcoin Correlator) and new kimono features</li>
      
        <li> Write crisp, well written drip emails to our user base highlighting: New kimono features, featured use cases, product tips, announcements of new integrations/partnerships, and events / conferences / thought leadership pieces </li>
      </ul>
      
    </div>

    <div>
      <h3>Required skills; You are someone who has:</h3>
      <ul>
        <li> 2+ years of experience writing copy at a prominent national print / digital outlet</li>
        <li>A results-oriented, endlessly resourceful mindset - you are motivated by achieving success, where success is defined by producing great content that is picked up by major outlets, circulated broadly and drives traffic to kimono.</li>
        <li> Enthusiasm for working with new technologies, data, APIs and for working with early adopters – engineers, data scientists, hardware hackers, data visualizers</li>
        <li>  A desire to work in an intense, fast-paced, early stage startup environment  A desire to work in an intense, fast-paced, early stage startup environment</li>
        <li>Experience working with one or more cloud infrastructure services (i.e. AWS, heroku, google, azure)</li>
      </ul>
    </div>

  

    <p>This role will be a contract role  - starting out on a project based contract with the option to turn into a full time position based on individual performance and the effectiveness of content marketing as a growth driver (Can be based in SF or NYC)</p>

    <p>Feel free to share whatever’s relevant (e.g. writing projects, blogs, epic stories, etc.)</p>
    
    <p><a href="mailto:jobs@kimonolabs.com?subject=Job%3A%20Content%20Marketer%20&body=I%27m%20interested%20in%20joining%20kimono.%20Please%20find%20my%20resume%20attached." class="btn btn-primary">Apply now</a></p>
  </div> -->

  <!-- Research and Development Engineer -->
  <!--  
  <div class="job-detail">
    <h2 class="job-title" id="rnd">Research and Development Engineer</h2>
    
    <div>
      <h3>As part of our early stage team, you will:</h3>
      <ul>
        <li>Work directly with the founders to shape the product and define the culture</li>
        <li>Build the awesome dev tool you always wanted for getting data and making APIs</li>
        <li>Define and implement new features, functionality and learning algorithms for our core product</li>
        <li>We’re a young startup ... it’s likely you’re going to do everything to help us build this company</li>
      </ul>
    </div>

    <div>
      <h3>What we’re looking for:</h3>
      <ul>
        <li>Someone who’s really, really smart, and hard working</li>
        <li>Past software development work experience and/or (2+ internships) </li>
        <li>A desire to tackle tough problems by applying advanced algorithms, Machine Learning techniques, NLP etc</li>
        <li>Proficiency in web services development, databases (mongoDB, PostgreSQL, redis), sys admin</li>
        <li>Ability to balance production needs with forward-looking research oriented tasks</li>
      </ul>
    </div>

    <div>
      <h3>Bonus Points:</h3>
      <ul>
        <li>Contributions to open-source frameworks including node.js/npm or front-end JS libraries</li>
        <li>Deep experience with web scraping, crawling or data parsing</li>
        <li>Experience working with very large datasets</li>
        <li>Breadth of experience in server/web technologies (node, ruby, python, java, etc.)</li>
        <li>In-depth understanding of distributed web systems architecture</li>
      </ul>
    </div>


    <p>You’ll be a critical member of our early team. You’ll receive a competitive salary and significant equity stake. We want to grow a team of people who care about building the absolute best product more than anything else. We like people who like risk, and adventure. We wrote our first lines of kimono code from the Hanoi Social Club in Vietnam, for example. We would love for you to be the type of person who might do that too.</p>

    <p>Feel free to share whatever’s relevant (e.g. products, coding projects, github, epic stories, etc.)</p>  
    
    <p><a href="mailto:jobs@kimonolabs.com?subject=Job%20application%3A%20Full-stack%20engineer%2Falgorithms%2Fgeneralist&body=I%27m%20interested%20in%20joining%20kimono.%20Please%20find%20my%20resume%20attached." class="btn btn-primary">Apply now</a></p>
  </div> -->

  <!-- Customer Success Leader -->
  <!--  
  <div class="job-detail">
    <h2 class="job-title" id="success">Customer success leader</h2>
    
    <p>Our goal is to make life easier for our customers and to leave them with the “wow” feeling of having solved data collection and analysis issues with ease, style and class. </p>

    <p>We’re looking for an engineer who loves helping people, solving problems and wants to be a major factor in the success of some of our biggest customers. This is a perfect position for someone who is technical and experienced in web scraping, but also wants to stay close to customers at a fast-moving startup. Have you got a knack for explaining technical concepts? Do you want to work closely with big name companies to solve some of their toughest problems?</p>

    <p>This position is perfect for the engineer that loves playing with various languages and frameworks. One customer might be combining Kimono data with D3 while another might be feeding the data into an Arduino. Every problem is unique, and in a normal day you might interact with dozens of languages and third party APIs.</p>
   
    <div>
      <h3>As part of our early stage team, you will:</h3>
      <ul>
        <li>Work directly with the founders to shape the product and define the culture</li>
        <li>Support and squash bugs in the awesome dev tool you've always wanted for getting data and making APIs</li>
        <li>Dream up killer features and influence what new technologies best fit an evolving stack</li>
        <li>Discover amazing new use cases for kimono from apps for the world's largest election to next generation smart kitchens</li>
        <li>Grow into other product/engineering roles</li>
        <li>We’re a small startup ... it’s likely you’re going to do everything to help us build this company</li>
      </ul>
    </div>

    <div>
      <h3>What we’re looking for:</h3>
      <ul>
        <li>Someone who’s really, really smart, and hard working :)</li>
        <li>2+ years of experience leading customer success teams (2+) at developer-oriented company</li>
        <li>Experience working and supporting developers</li>
        <li>Basic familiarity with web programming and APIs</li>
      </ul>
    </div>

    <div>
      <h3>Bonus Points:</h3>
      <ul>
        <li>Previous startup experience</li>
        <li>Used Kimono before</li>
        <li>Experience working with data</li>
        <li>Previous customer support experience</li>
        <li>Experience in Javascript and/or HTML/CSS</li>
      </ul>
    </div>


    <p>You’ll be a critical member of our early team. You’ll receive a competitive salary and significant equity stake. We want to grow a team of people who care about building the absolute best product more than anything else. We like people who like risk, and adventure. We wrote our first lines of kimono code from the Hanoi Social Club in Vietnam, for example. We would love for you to be the type of person who might do that too.</p>

    <p>Feel free to share whatever’s relevant (e.g. products, coding projects, github, epic stories, etc.)</p>
    
    <p><a href="mailto:jobs@kimonolabs.com?subject=Job%20application%3A%20Back-end%20node.js%20and%20database%20engineer&body=I%27m%20interested%20in%20joining%20kimono.%20Please%20find%20my%20resume%20attached." class="btn btn-primary">Apply now</a></p>
  </div> -->
   
</div>
      </div>
    </section>
    <div id="Footer">
  <div class="container">
    <div class="row">
    <div class="col-md-2">
      <h4>&copy; 2015 kimonolabs, inc.</h4>
    </div>
    <div class="col-md-2">
      <h4>Company</h4>
      <ul>
        <li><a href="/about" target="_self">About</a></li>
        <li><a href="/team" target="_self">Team</a></li>
        <li><a href="/jobs" target="_self">Jobs</a></li>
        <li><a href="http://blog.kimonolabs.com/" target="_self">Blog</a></li>
        <li><a href="/terms" target="_self">Terms</a></li>
        <li><a href="/privacy" target="_self">Privacy</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h4>Solutions</h4>
      <ul>
        <li><a href="/finance" target="_self">Finance</a></li>
        <li><a href="/sec/explorer" target="_self">SEC API Explorer</a></li>
        <li><a href="/sec/docs" target="_self">SEC API Docs</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h4>Showcase</h4>
      <ul>
        <li><a href="http://builtwith.kimonolabs.com" target="_self">#BuiltWithKimono</a></li>
        <li><a href="/bitcoin/correlator" target="_self">Bitcoin Correlator</a></li>
        <li><a href="/sochi/showcase" target="_self">Sochi Showcase</a></li>
        <li><a href="/sochi/explorer" target="_self">Sochi API</a></li>
        <li><a href="/sochi/docs" target="_self">Sochi API Docs</a></li>
        <li><a href="/worldcup/explorer" target="_self">World Cup API</a></li>
        <li><a href="/worldcup/docs" target="_self">World Cup API Docs</a></li>
        <li><a href="/marchmadness/explorer" target="_self">March Madness API</a></li>
        <li><a href="/marchmadness/docs" target="_self">March Madness API Docs</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h4>Help</h4>
      <ul>
        <li><a href="http://help.kimonolabs.com/hc/en-us" target="_self">Help Center</a></li>
        <li><a href="/learn" target="_self">Video tutorials</a></li>
        <li><a href="/support" target="_self">Support</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h4>Press</h4>
      <ul>
      <li><a href="http://pando.com/2014/08/29/yc-grad-kimono-labs-makes-its-giant-respoitory-of-user-generated-apis-searchable/" target="_self">Pando Daily</a></li>
        <li><a href="http://www.techinasia.com/kimono-pratap-ranade-ryan-rowe-api-internet/" target="_self">Tech in Asia</a></li>
        <li><a href="http://www.techrepublic.com/article/how-kimono-labs-can-turn-any-website-into-an-api/" target="_self">Tech Republic</a></li>
        <li><a href="http://venturebeat.com/2014/03/25/here-are-the-5-best-startups-from-y-combinators-demo-day/" target="_self">Venture Beat</a></li>
        <li><a href="http://techcrunch.com/2014/03/25/best-y-combinator-demo-day-startups/" target="_self">Tech Crunch</a></li>
        <li><a href="http://www.fastcodesign.com/3027659/a-new-app-that-lets-you-take-apart-websites-and-rebuild-them-at-will" target="_self">FastCo.Design</a></li>
        <li><a href="http://www.fastcolabs.com/3025295/kimono-could-be-the-gateway-drug-to-finally-get-you-coding" target="_self">FastCo.Labs</a></li>
        <li><a href="http://www.wired.com/2014/03/kimono/" target="_self">Wired</a></li>
        <li><a href="http://techcrunch.com/2014/02/18/kimono-is-a-smarter-web-scraper-that-lets-you-api-ify-the-web-no-code-required/" target="_self">Tech Crunch Launch</a></li>
      </ul>
    </div>
  </div>
  </div>

</div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script src="//cdn.optimizely.com/js/1853380170.js"></script>
<script type="text/javascript">
  window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9";
  if (window.location.host === 'localhost' || window.location.host === 'localhost:4000' || window.location.host === 'localhost:3000' ) {
    window.analytics.load("tu8x6gusvq"); //dev
  } else {
    window.analytics.load("kfah0efv5d"); //prod
  }
  window.analytics.page();
</script>


<script src="/js/vendor.js"></script>

<script src="/js/main.js"></script>
<script>
angular.module('kimWebsiteServices').config(function (GlobalValsProvider) {
  GlobalValsProvider.set({"user":null,"config":{"env":"production","algolia":{"apikey":"e1f63566b58cca81b47fd1bfffed5023","appID":"CPTAU71D6K","searchIndex":"search-apis"}},"sslhost":"https://ws.kimonolabs.com","host":"http://ws.kimonolabs.com","secHost":"http://sec.kimonolabs.com","defaultApiKey":"bc6d6fac9954d187d0706e4f9aeb26c6","sslwebsitehost":"https://www.kimonolabs.com","websitehost":"http://www.kimonolabs.com"});
});
</script>

<script src="//cdn.jsdelivr.net/ace/1.1.6/min/ace.js"></script>
  </body>
</html>