<script>

  reqDetails_raf = function() {
    
         Site_unmaskPage();
         Site_maskPage('referFriendReq', '_reqID=5000009183910&_tcbWidgetID=2145064&_popup=true');
    
  }

  reqDetails_email = function() {
      
           Site_unmaskPage();
           Site_maskPage('emailFriendReq', '_reqID=5000009183910&_tcbWidgetID=2145064&_popup=true');
      
    }

  reqDetails_apply = function(linkedInApplicationID) {
    
        Site_unmaskPage();
    
    var applyLink = 'https://www.candidatecare.com/srccsa/RTI.home?tx=enUS&d=SunEdison&t=62664&r=5000009183910&c=81&_cache=8496289941611301888&rb=INDEED';
    if (linkedInApplicationID) {
      applyLink += '&_lID=' + linkedInApplicationID;
    }
    

        Functions_popup(applyLink, 'APPSITE', 800, 800, true, true, false);

    
  }

  reqDetails_cancel = function() {
    
         Site_unmaskPage();
    
  }

</script>

<table class="tcbPage" >
  <tr>
    <td class="tcbTitle_row">
      <div class="tcbTitle">
        <h2 class="tcbTitle-h2">Job Details</h2>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      

           <div class="tcbPostcard_actions">

              
              <div id="reqDetails_addThis" class="addthis_toolbox addthis_default_style"
                   addthis:ui_click="true"
                   addthis:data_track_clickback="false"
                   addthis:url="https://www.recruitacommunity.com/sunedison.careers?r=5000009183910&_cache=4766371801313290240&rb=ADDTHIS_SHARE"
                   addthis:title="Senior Manager, Information Systems - ORACLE EBS"
                   addthis:description=" 
 Senior IT Manager, Oracle EBS  -- Corporate Information Technology SO-1011
 At SunEdison, we are looking for talented self-starters with imagination, creativity and vision. In addition, we are seeking individuals who are original thinkers, possess the drive to achieve quick results, and have the capacity to assume increasing responsibility in a highly successful global organization. Ideal candidates will have a passion for the solar industry and desire to be part of a team with goals to change the way the world's energy is produced, distributed, and consumed.
 &amp;nbsp;
 The Senior IT Manager position is a hands-on leadership role, which will provide functional and technical leadership to a cross functional teams during the Global implementation of Oracle EBS. This position will interface closely with the functional business teams, including but not limited to executives of each organization to understand the business goals and objectives to deliver differentiating solutions. Additionally this role manages and reports on overall system operations and maintenance as well as project coordination while ensuring that application project plans, goals and objectives are aligned with overall business goals. This is a strategic role in the company and requires a leader that can manage a diverse set of business partners and lead teams with and without direct authority.
 This role would suit a self-motivated, results-oriented individual who is comfortable in an entrepreneurial environment and has experience in working effectively with and providing world-class service to internal customers. To succeed in this role, you will possess extensive Functional and Technical knowledge of Oracle EBS, particularly Oracle Financials, project management, detail-oriented execution skills, overall business savvy, excellent communication abilities and a focus on service excellence. Additionally, this individual will apply proven communication skills, Lean methodology, problem-solving know-how and leadership abilities to effectively manage and influence key stakeholders across the enterprise.
 Key Responsibilities:
 
 Lead the Oracle EBS programs through global deployment, providing strong and influential leadership
 Partner with the business and key stakeholders to ensure solutions are aligned with strategic needs of the organization
 Apply  Lean methodologies and concepts to optimize processes and deliver the best possible solutions
 Provide strong leadership driving projects through methodology gates; tracking progress, identifying risks and issues, escalating and driving to resolution
 Define and validate priorities, Scope, Requirements, Solution designs, project schedules and budgets
 Define, develop and implement effective Product Release cycles
 Partner with IT Architecture team on solution analysis, business requirements, cost benefit analysis, risk assessment and business impact analysis
 Develop and integrate metrics into the projects that clearly demonstrate the value of IT to the business
 Lead cross functional teams including on-shore and off-shore partners
 Lead Systems Integration and Services partners globally to implement and support solutions
 Lead, coach and mentor team members, including those that are dotted line reports

&lt;!--sitetranslationpushoff--&gt;Equal Opportunity Employer Minorities/Women/Protected Veterans/Disabled&lt;!--sitetranslationpop--&gt;">
                
                     <a class="addthis_button_linkedin" addthis:url="https://www.recruitacommunity.com/sunedison.careers?r=5000009183910&_cache=6686683007792106496&rb=LINKEDIN_SHARE"></a>
                
                
                     <a class="addthis_button_facebook" addthis:url="https://www.recruitacommunity.com/sunedison.careers?r=5000009183910&_cache=3156813954854671360&rb=FACEBOOK_SHARE"></a>
                
                
                     <a class="addthis_button_twitter" addthis:url="https://www.recruitacommunity.com/sunedison.careers?r=5000009183910&_cache=5191287618130356224&rb=TWITTER_SHARE"></a>
                
                
                     <a class="addthis_button_pinterest_share" addthis:url="https://www.recruitacommunity.com/sunedison.careers?r=5000009183910&_cache=5503597339591824384&rb=PINTEREST_SHARE"></a>
                
                
                     <a class="addthis_button_compact"></a>
                
              </div>
              

           </div>

      
    </td>
  </tr>

  <tr>
    <td class="tcbWidgetFrame">
      
          <div class="tcbPostcard_popup">
      

      <table cellpadding="2">

        

            <tr valign="top">
              <td class="tcbWidget-label">Job Title&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">Senior Manager, Information Systems - ORACLE EBS</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Description&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal"><DIV>
<P>Senior IT Manager, Oracle EBS <STRONG>-- </STRONG>Corporate Information Technology SO-1011</P>
<P>At SunEdison, we are looking for talented self-starters with imagination, creativity and vision. In addition, we are seeking individuals who are original thinkers, possess the drive to achieve quick results, and have the capacity to assume increasing responsibility in a highly successful global organization. Ideal candidates will have a passion for the solar industry and desire to be part of a team with goals to change the way the world's energy is produced, distributed, and consumed.</P>
<P>&nbsp;</P>
<P>The Senior IT Manager position is a hands-on leadership role, which will provide functional and technical leadership to a cross functional teams during the Global implementation of Oracle EBS. This position will interface closely with the functional business teams, including but not limited to executives of each organization to understand the business goals and objectives to deliver differentiating solutions. Additionally this role manages and reports on overall system operations and maintenance as well as project coordination while ensuring that application project plans, goals and objectives are aligned with overall business goals. This is a strategic role in the company and requires a leader that can manage a diverse set of business partners and lead teams with and without direct authority.</P>
<P>This role would suit a self-motivated, results-oriented individual who is comfortable in an entrepreneurial environment and has experience in working effectively with and providing world-class service to internal customers. To succeed in this role, you will possess extensive Functional and Technical knowledge of Oracle EBS, particularly Oracle Financials, project management, detail-oriented execution skills, overall business savvy, excellent communication abilities and a focus on service excellence. Additionally, this individual will apply proven communication skills, Lean methodology, problem-solving know-how and leadership abilities to effectively manage and influence key stakeholders across the enterprise.</P>
<P>Key Responsibilities:</P>
<UL>
<LI>Lead the Oracle EBS programs through global deployment, providing strong and influential leadership</LI>
<LI>Partner with the business and key stakeholders to ensure solutions are aligned with strategic needs of the organization</LI>
<LI>Apply <EM>Lean</EM> methodologies and concepts to optimize processes and deliver the best possible solutions</LI>
<LI>Provide strong leadership driving projects through methodology gates; tracking progress, identifying risks and issues, escalating and driving to resolution</LI>
<LI>Define and validate priorities, Scope, Requirements, Solution designs, project schedules and budgets</LI>
<LI>Define, develop and implement effective Product Release cycles</LI>
<LI>Partner with IT Architecture team on solution analysis, business requirements, cost benefit analysis, risk assessment and business impact analysis</LI>
<LI>Develop and integrate metrics into the projects that clearly demonstrate the value of IT to the business</LI>
<LI>Lead cross functional teams including on-shore and off-shore partners</LI>
<LI>Lead Systems Integration and Services partners globally to implement and support solutions</LI>
<LI>Lead, coach and mentor team members, including those that are dotted line reports</LI></UL></DIV></td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Requirements&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal"><DIV>
<P>Education &amp; Experience:</P>
<UL>
<LI>BS Computer Science (or equivalent) degree</LI>
<LI>12-14 years total experience in IT with at least 7-10 years of Oracle EBS</LI>
<LI>Hands on experience successfully implementing large Oracle ERP programs</LI>
<LI>Experience with application and data architecture, capability planning</LI>
<LI>Expertise in technology applicability to Enterprise Systems business partners, including Oracle ERP and analytic platforms</LI>
<LI>Foreign localization experience, including VAT, languages and currency</LI>
<LI>Experience with VERTEX highly desired</LI>
<LI>Demonstrated understanding and utilization of financial data, corporate scorecard information, and key performance indicators to support process performance</LI>
<LI>Proven ability to interface closely with Business and IT Execs, IT Project Managers, IT Architects and Tech Leads as well as off-shore development and service providers</LI>
<LI>Proven experience in project management and delivering complex solutions on time and on budget</LI>
<LI>Strong verbal and written communication / presentation and demonstration abilities, facilitation, negotiation and expectation management</LI>
<LI>Experience working with large steering committees and UAT sessions</LI>
<LI>Self-motivated with the ability to work independently with minimal supervision</LI>
<LI>Communication: facilitation, negotiation, influencing, presentation and demonstration</LI>
<LI>Travel Requirements: 30%+</LI></UL>
<P>&nbsp;</P>
<P><BR>SunEdison is leading the solar industry with a strong "one company, one culture" environment that allows you to innovate, expand your potential, and own your future. This environment encourages positive thinking, integrity, and a "together as a team we win" attitude. In addition to providing a climate for professional growth, SunEdison offers competitive salary, a comprehensive benefits program and a company matched 401(k) savings plan.</P>
<P><STRONG>&nbsp;</STRONG></P>
<P>*LI-ABC</P></DIV></td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Req Number&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">SO-1011</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Location&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">MO - Maryland Heights; MA - Boston; MD - Bethesda; CA - Belmont</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Job Family&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">Information Technology/MIS</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Position Type&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">Full-time</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Hourly&#x2f;Salary&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">Salaried</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

          <tr valign="top">
            <td class="tcbWidget-label"></td>
          </tr>
          <tr valign="top">
            <td class="tcbWidget-normal"><!--sitetranslationpushoff-->Equal Opportunity Employer Minorities/Women/Protected Veterans/Disabled<!--sitetranslationpop--></td>
          </tr>

      </table>

      
          </div>
      
    </td>
  </tr>

  <tr>
    <td>
      
      <div class="tcbPostcard_actions">
        
            <input class=tcbWidget-normal type="button" value="REFER&#x20;A&#x20;FRIEND" onclick="reqDetails_raf()">
            <img src='shim.dbrez?oemID=RTI&languageID=enUS' width='4'>
        
        
        <input class=tcbWidget-normal type="button" value="APPLY" onclick="reqDetails_apply()">
        <img src='shim.dbrez?oemID=RTI&languageID=enUS' width='4'>
        <input class=tcbWidget-normal type="button" value="CANCEL" onclick="reqDetails_cancel()">
      </div>
    </td>
  </tr>
</table>


    
    <script>
      addthis.toolbox("#reqDetails_addThis");
    </script>