<script>

  reqDetails_raf = function() {
    
         Site_unmaskPage();
         Site_maskPage('referFriendReq', '_reqID=5000019498910&_tcbWidgetID=2145064&_popup=true');
    
  }

  reqDetails_email = function() {
      
           Site_unmaskPage();
           Site_maskPage('emailFriendReq', '_reqID=5000019498910&_tcbWidgetID=2145064&_popup=true');
      
    }

  reqDetails_apply = function(linkedInApplicationID) {
    
        Site_unmaskPage();
    
    var applyLink = 'https://www.candidatecare.com/srccsa/RTI.home?tx=enUS&d=SunEdison&t=62664&r=5000019498910&c=81&_cache=8056193766013407232&rb=INDEED';
    if (linkedInApplicationID) {
      applyLink += '&_lID=' + linkedInApplicationID;
    }
    

        Functions_popup(applyLink, 'APPSITE', 800, 800, true, true, false);

    
  }

  reqDetails_cancel = function() {
    
         Site_unmaskPage();
    
  }

</script>

<table class="tcbPage" >
  <tr>
    <td class="tcbTitle_row">
      <div class="tcbTitle">
        <h2 class="tcbTitle-h2">Job Details</h2>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      

           <div class="tcbPostcard_actions">

              
              <div id="reqDetails_addThis" class="addthis_toolbox addthis_default_style"
                   addthis:ui_click="true"
                   addthis:data_track_clickback="false"
                   addthis:url="https://www.recruitacommunity.com/sunedison.careers?r=5000019498910&_cache=791789360674840576&rb=ADDTHIS_SHARE"
                   addthis:title="IT Project Manager/Business Analyst (Construction Operations)"
                   addthis:description=" 
  SunEdison is always looking for innovative and dedicated individuals to expand our team.
 Our service-oriented approach and fast-paced culture make  SunEdison a rewarding career destination. At the heart of our culture is a set of values that keep us delivering industry-leading energy solutions for our clients and a brighter future for everyone.
 The Corporate IT team partners with Business Transformation team to lean out processes, implement Global Oracle Solutions, and at the same time reduce IT complexity and cost. Oracle solutions are the corner stone projects that will enable Finance reach it's overall goal and objectives.
 The Senior Analyst, Business Operations will work closely with the Business Owners and Subject Matter Experts to document process, gather business requirements and translating into systems functionality in support the projects from inception to successful completion. This position will interface across functional and business units including but not limited to directors of each organization to understand the business processes and capabilities required to deliver differentiated solutions. Additionally this role supports the current business systems to ensure applications are functioning as designed and meeting the overall business goals.
 This role would suit a self-motivated, results-oriented individual who is comfortable in an entrepreneurial environment and has experience in working effectively with and providing world-class service to internal customers. To succeed in this role, you will possess Functional and Technical knowledge of Business Operations, Supply Chain Management, Design &amp;amp; Development, and Construction Project Management while applying functional analysis, detail-oriented execution skills, and a focus on service excellence. Additionally, this individual will apply proven communication skills, Lean methodology hands on experience, problem-solving know-how and leadership abilities to effectively influence business stakeholders, vendors and partners.
Essential Functions:
 
 Ability to quickly understand Operational business processes, functional requirements and capabilities, to document and communicate requirements into fictional specifications.
 Partner with the business, Integration Partners and/or developers to ensure successful communications and handoffs to support the delivery of new systems and capabilities to meet the business goals.
 Work with business operations process owners to understand current processes, apply lean methodologies and concepts to optimize processes prior to automating the process
 Define and validate business requirements, define software Product capabilities, document processes and support the System deliverables for the different Business Unit.
 Develop deliverables to support driving projects through methodology gates; identify risks and issues, escalate and drive to resolution
 Implementing new functional capabilities in alignment with the Product Release cycles
 Work with software partners in identification and resolution of complex problems, such as User Experience, data integration and reporting
 Partner with architecture team to select solutions that meet business needs and align with the enterprise architecture plan
 Partner with IT Project Managers on solution analysis, business requirements documentation, cost benefit analysis, risk assessment and business impact analysis
 Manage vendor relationships with software and service providers to drive new implementations, new releases and ongoing support
 Establish metrics that help the business understand the value of IT and provide continuous improvement guidelines.
 Provide support and training on systems in support if current and new systems capabilities.
 Lead, coach and mentor other team members, direct or dotted.



&lt;!--sitetranslationpushoff--&gt;Equal Opportunity Employer Minorities/Women/Protected Veterans/Disabled&lt;!--sitetranslationpop--&gt;">
                
                     <a class="addthis_button_linkedin" addthis:url="https://www.recruitacommunity.com/sunedison.careers?r=5000019498910&_cache=638118028282827776&rb=LINKEDIN_SHARE"></a>
                
                
                     <a class="addthis_button_facebook" addthis:url="https://www.recruitacommunity.com/sunedison.careers?r=5000019498910&_cache=6267024600345287680&rb=FACEBOOK_SHARE"></a>
                
                
                     <a class="addthis_button_twitter" addthis:url="https://www.recruitacommunity.com/sunedison.careers?r=5000019498910&_cache=2714518147347115008&rb=TWITTER_SHARE"></a>
                
                
                     <a class="addthis_button_pinterest_share" addthis:url="https://www.recruitacommunity.com/sunedison.careers?r=5000019498910&_cache=6730970570366223360&rb=PINTEREST_SHARE"></a>
                
                
                     <a class="addthis_button_compact"></a>
                
              </div>
              

           </div>

      
    </td>
  </tr>

  <tr>
    <td class="tcbWidgetFrame">
      
          <div class="tcbPostcard_popup">
      

      <table cellpadding="2">

        

            <tr valign="top">
              <td class="tcbWidget-label">Job Title&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">IT Project Manager/Business Analyst (Construction Operations)</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Description&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal"><DIV>
<P><STRONG>SunEdison</STRONG> is always looking for innovative and dedicated individuals to expand our team.</P>
<P>Our service-oriented approach and fast-paced culture make <STRONG>SunEdison</STRONG> a rewarding career destination. At the heart of our culture is a set of values that keep us delivering industry-leading energy solutions for our clients and a brighter future for everyone.</P>
<P>The Corporate IT team partners with Business Transformation team to lean out processes, implement Global Oracle Solutions, and at the same time reduce IT complexity and cost. Oracle solutions are the corner stone projects that will enable Finance reach it's overall goal and objectives.</P>
<P>The Senior Analyst, Business Operations will work closely with the Business Owners and Subject Matter Experts to document process, gather business requirements and translating into systems functionality in support the projects from inception to successful completion. This position will interface across functional and business units including but not limited to directors of each organization to understand the business processes and capabilities required to deliver differentiated solutions. Additionally this role supports the current business systems to ensure applications are functioning as designed and meeting the overall business goals.</P>
<P>This role would suit a self-motivated, results-oriented individual who is comfortable in an entrepreneurial environment and has experience in working effectively with and providing world-class service to internal customers. To succeed in this role, you will possess Functional and Technical knowledge of Business Operations, Supply Chain Management, Design &amp; Development, and Construction Project Management while applying functional analysis, detail-oriented execution skills, and a focus on service excellence. Additionally, this individual will apply proven communication skills, Lean methodology hands on experience, problem-solving know-how and leadership abilities to effectively influence business stakeholders, vendors and partners.</P>
Essential Functions:
<UL>
<LI>Ability to quickly understand Operational business processes, functional requirements and capabilities, to document and communicate requirements into fictional specifications.</LI>
<LI>Partner with the business, Integration Partners and/or developers to ensure successful communications and handoffs to support the delivery of new systems and capabilities to meet the business goals.</LI>
<LI>Work with business operations process owners to understand current processes, apply lean methodologies and concepts to optimize processes prior to automating the process</LI>
<LI>Define and validate business requirements, define software Product capabilities, document processes and support the System deliverables for the different Business Unit.</LI>
<LI>Develop deliverables to support driving projects through methodology gates; identify risks and issues, escalate and drive to resolution</LI>
<LI>Implementing new functional capabilities in alignment with the Product Release cycles</LI>
<LI>Work with software partners in identification and resolution of complex problems, such as User Experience, data integration and reporting</LI>
<LI>Partner with architecture team to select solutions that meet business needs and align with the enterprise architecture plan</LI>
<LI>Partner with IT Project Managers on solution analysis, business requirements documentation, cost benefit analysis, risk assessment and business impact analysis</LI>
<LI>Manage vendor relationships with software and service providers to drive new implementations, new releases and ongoing support</LI>
<LI>Establish metrics that help the business understand the value of IT and provide continuous improvement guidelines.</LI>
<LI>Provide support and training on systems in support if current and new systems capabilities.</LI>
<LI>Lead, coach and mentor other team members, direct or dotted.</LI>
</UL>
</DIV></td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Requirements&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal"><DIV>Required Qualifications:&nbsp;
<UL>
<LI>BS Computer Science (or equivalent) degree</LI>
<LI>5-10 years total experience in IT with 4 years as a Business Systems Analyst supporting Business Operations.</LI>
<LI>Hands on experience successfully implementing large Software applications</LI>
<LI>Experience with application and data analysis, business requirements and Process development</LI>
<LI>Demonstrated understanding and utilization of financial data, corporate scorecard information, and key performance indicators to support process performance</LI>
<LI>Proven ability to interface closely with Business and IT leaders, IT Project Managers, IT Architects and Tech Leads as well as off-shore development and service providers</LI>
<LI>Comfortable in an entrepreneurial environment; experience in working effectively with business functional teams, remote development teams as well as vendors and partners in a very fast paced environment with very aggressive timelines.</LI>
<LI>Proven experience in business analysis and delivering complex solutions on time and on budget</LI>
<LI>Strong verbal and written communication / presentation and demonstration abilities, facilitation, and expectation management</LI>
<LI>Experience in running QA, UAT, and end user training sessions</LI>
<LI>Self-motivated with the ability to work independently</LI>
<LI>Communication: facilitation, influencing, presentation and demonstration</LI>
</UL>
&nbsp;Work Environment:<BR>* General office environment.<BR>* Exposed to moderate noise level.</DIV>
<DIV style="font-size: 4px;">&nbsp;</DIV>
<DIV>Physical Abilities:<BR>* Light sedentary office work.<BR>* Minimal lifting (&lt;25 lbs) may be required.<BR><BR>SunEdison is leading the solar industry with a strong "one company, one culture" environment that allows you to innovate, expand your potential, and own your future. This environment encourages positive thinking, integrity, and a "together as a team we win" attitude. In addition to providing a climate for professional growth, SunEdison offers competitive salary, a comprehensive benefits program and a company matched 401(k) savings plan.</DIV>
<DIV>&nbsp;</DIV>
<DIV>LI-ABC*</DIV></td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Req Number&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">SO-1573</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Location&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">CA - Belmont</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Job Family&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">Information Technology/MIS</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Position Type&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">Full-time</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

            <tr valign="top">
              <td class="tcbWidget-label">Hourly&#x2f;Salary&#x3a;</td>
            </tr>
            <tr valign="top">
              <td class="tcbWidget-normal">Salaried</td>
            </tr>
            <tr>
              <td><img src='shim.dbrez?oemID=RTI&languageID=enUS' height='10'></td>
            </tr>

        

          <tr valign="top">
            <td class="tcbWidget-label"></td>
          </tr>
          <tr valign="top">
            <td class="tcbWidget-normal"><!--sitetranslationpushoff-->Equal Opportunity Employer Minorities/Women/Protected Veterans/Disabled<!--sitetranslationpop--></td>
          </tr>

      </table>

      
          </div>
      
    </td>
  </tr>

  <tr>
    <td>
      
      <div class="tcbPostcard_actions">
        
            <input class=tcbWidget-normal type="button" value="REFER&#x20;A&#x20;FRIEND" onclick="reqDetails_raf()">
            <img src='shim.dbrez?oemID=RTI&languageID=enUS' width='4'>
        
        
        <input class=tcbWidget-normal type="button" value="APPLY" onclick="reqDetails_apply()">
        <img src='shim.dbrez?oemID=RTI&languageID=enUS' width='4'>
        <input class=tcbWidget-normal type="button" value="CANCEL" onclick="reqDetails_cancel()">
      </div>
    </td>
  </tr>
</table>


    
    <script>
      addthis.toolbox("#reqDetails_addThis");
    </script>