<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title>Samsung Careers</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- 0001209: careers > cache 된 사용자정보 노출 -->
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<link rel="stylesheet" type="text/css" href="/careers/css/cmm/lib/jquery-ui-1.10.3.custom.css" />
	<link rel="stylesheet" type="text/css" href="/careers/css/cmm/lib/jquery-plugins-1.0.0.css" />
	<link rel="stylesheet" type="text/css" href="/careers/css/cmm/pdss.css" />
	<link rel="stylesheet" type="text/css" href="/careers/css/srs/common.css" />
	<link rel="stylesheet" type="text/css" href="/careers/css/srs/style.css" />
	<link rel="shortcut icon" href="http://www.samsung.com/common/img/favicon.ico" />
	<script type="text/javascript" src="/careers/js/cmm/lib/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/careers/js/cmm/lib/jquery-ui-1.10.3.custom.js"></script>
	<script type="text/javascript" src="/careers/js/cmm/lib/jquery-plugins-1.0.0.js"></script>
	<script type="text/javascript" src="/careers/js/cmm/lib/jquery.form.min.js"></script>
	<script type="text/javascript" src="/careers/js/cmm/pdss.js"></script>
	<script type="text/javascript" src="/careers/js/cmm/locale_en.js"></script>
	<script type="text/javascript" src="/careers/js/taq/taq.js"></script>
	<script type="text/javascript" src="/careers/js/taq/google.web.analytics.NA.js"></script>
	<script type="text/javascript">
	/*<![CDATA[*/
	pdss.sys._final.compCd		= 'C99';
	pdss.sys._final.siteId		= 'AB01';
	pdss.sys._final.moduleId	= '0';
	pdss.sys._final.pageId		= 'page0001';
	pdss.sys._final.actionId	= 'init';
	pdss.sys._final.contextRoot	= 'careers';
	pdss.sys.locale				= 'ko';
	pdss.sys.currentDate		= '07-18-2013';
	var page = {};
	jQuery(function(e) {
		e.datepicker.setDefaults(pdss.datepicker_regional);
	});
	/*]]>*/
	</script>
</head>

<body>
<div id="pdss_career">
	<div id="container_career">
	<div id="header_career">
		<div id="top_career">
		
			<p class="logo">
				<a href="/careers/">
					<img src="../../img/srs/cmm/logo.png" width="106" height="35" alt="" />
					Samsung
				</a>
			</p>
			 
			<div class="title">Samsung Careers</div>
  
<!-- 			<div th:include="taq/rec/career/cmm/rec_incgrobalkeyword" > -->
<!-- 				<input type="text" name="keyword" title="keyword search" placeholder="Keyword for below items, Job description and Requisition title/ID" /> -->
<!-- 				<a href="javascript:void(0);" id="btn_keyword_find"><span class="icon_find">Find</span></a> -->
<!-- 			</div> -->
			<div class="login_area" id="login_area">
				<input type="hidden" name="inoutflag" value="" />
	<!-- 			<ul th:inline="text">
					<li><a href="javascript:void(0);" class="icon_search" th:text="#{word.rec.searchjobs}">Search Jobs</a></li>
					<li th:if="!(${session['_user']['userId']} == 'guest')"><a href="javascript:void(0);" class="icon_favo">[[#{word.rec.jobfavorite}]]<span th:if="${favoriteCount} and ${favoriteCount['totalcnt']}" th:text="'('+${favoriteCount['totalcnt']}+')'"></span></a></li>
					<li th:if="!(${session['_user']['userId']} == 'guest')"><a href="javascript:void(0);" class="icon_status" th:text="#{word.rec.mystatus}">My Status</a></li>
					<li th:if="!(${session['_user']['userId']} == 'guest')"><a href="javascript:void(0);" class="icon_profile" th:text="#{word.rec.myprofile}">My Profile</a></li>
	                <li th:if="!(${session['_user']['userId']} == 'guest')"><a href="javascript:void(0);" class="icon_account" th:text="#{word.rec.myaccount}">My Account</a></li>				
				</ul> -->
				
				<span class="btn">
					<a href="javascript:void(0);" sign="signin"><span>Sign In</span></a>
				</span>
			</div>

		</div>
		<div id="side_bar_career">
			<!-- LeftMenu -->
			<div class="lnb">
			<ul class="left_menu lev1">
			<li><span class="h">Careers</span>
				<ul class="lev2">
					<li><a href="javascript:goPageMenu(&#39;searchjobs&#39;);">Search Jobs</a></li>
					
					
					
					
					<li> </li>
				</ul>
			</li>
			</ul>
			</div>
			<script type="text/javascript">
			/*<![CDATA[*/
			function goPageMenu(mid) {
				if('searchjobs'==mid) {
					pdss.goPage( taq.getUrl({'moduleId' : 'app' , 'actionId' : 'viewSearchJob'}), {});
				} else if('jobfavorite'==mid) {
					pdss.goPage( taq.getUrl({'moduleId' : 'service' , 'actionId' : 'viewJobFavorite'}), {});
				} else if('mystatus'==mid) {
					pdss.goPage( taq.getUrl({'moduleId' : 'service' , 'actionId' : 'viewMyStatus'}), {});
				} else if('myprofile'==mid) {
					pdss.goPage( taq.getUrl({'moduleId' : 'service' , 'actionId' : 'viewMyProfile'}), {});
				} else if('myaccount'==mid) {
					pdss.goPage( taq.getUrl({'moduleId' : 'service' , 'actionId' : 'viewMyAccount'}), {});
				}
			}
			/*]]>*/
			</script>
		</div>
	</div>
<!-- CONTENT start -->


<form name="f" method="get" enctype="application/x-www-form-urlencoded">
	<div id="content_career" style="margin-top: 10px;">

		<div>

		<iframe src="about:blank" id="hiddenframe" name="hiddenframe" style="visibility:hidden;" height="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
		
		<div style="display:none;"><div id="layer_message_alert" class="ui-dialog-content ui-widget-content">
			<!-- 팝업body -->
				<div class="popup_confirm">
					<strong id="layer_message_alert_content" class="view_txt"></strong> 
				</div>
				<div class="popup_btn">
					<div class="btn"><a href="javascript:void(0);"><span>OK</span></a></div>
				</div>
			<!-- //팝업body -->
		</div>

	<script type="text/javascript">
    var messageAlert = {
			content : function(message){
				$('#layer_message_alert_content').text(message);
			},
			okBtnFn : function(){} 
		}
    
		$(function() {
			$('#layer_message_alert .popup_btn a').click(function(){
				 $('#layer_message_alert').dialog('close');
			});
		});
		
	</script>
</div>
		
		<script type="text/javascript">
		/*<![CDATA[*/
		
		    function parentIFrameReSize() {
				/* var height = Math.max( document.body.scrollHeight, document.body.offsetHeight, 
		                   document.documentElement.clientHeight, document.documentElement.scrollHeight, document.documentElement.offsetHeight ); */
		        //var height = Math.max( document.documentElement.scrollHeight, document.documentElement.offsetHeight );
		        var height = Math.max( document.documentElement.offsetHeight );
					
				var frameid = 'i_con';
				var hiddenurl = "http://www.samsung.com/uk/frameset.html?frameid=" + frameid + "&height=" + height + "px";
				$('#hiddenframe').attr('src', hiddenurl) ;
			}
			 
			$(function() {
				pdss.makeCombo("loginLang", {
			    	custom_class :"pdss-border-none",
			    	defaultSelected : 'en',
			    	select : function(event, ui) {
						pdss.getJson({
							url : '/careers/svc/account/login/localeChange',
							data : {'loginLang' : ui.item.value },
							success : function(data){
								location.reload();
							}
						});
			        }
				});
			    
				$('#login_area a.icon_search').click(function(){
					pdss.goPage( taq.getUrl({'moduleId' : 'app' , 'actionId' : 'viewSearchJob'}), {inoutflag: $('[name=inoutflag]').val()});
				});
				$('#login_area a.icon_favo').click(function(){
					pdss.goPage( taq.getUrl({'moduleId' : 'service' , 'actionId' : 'viewJobFavorite'}), {inoutflag: $('[name=inoutflag]').val()});
				});
				$('#login_area a.icon_status').click(function(){
					pdss.goPage( taq.getUrl({'moduleId' : 'service' , 'actionId' : 'viewMyStatus'}), {inoutflag: $('[name=inoutflag]').val()});
				});
				$('#login_area a.icon_account').click(function(){
					pdss.goPage( taq.getUrl({'moduleId' : 'service' , 'actionId' : 'viewMyAccount'}), {inoutflag: $('[name=inoutflag]').val()});
				});
				$('#login_area a.icon_profile').click(function(){
					pdss.goPage( taq.getUrl({'moduleId' : 'service' , 'actionId' : 'viewMyProfile'}), {inoutflag: $('[name=inoutflag]').val()});
				});
				$('#login_area [sign="signin"]').click(function(){
					pdss.goPage( taq.getUrl({'moduleId' : 'account', 'actionId' : 'login'}), {inoutflag: $('[name=inoutflag]').val()});
				});
				$('#login_area [sign="signout"]').click(function(){
					pdss.goPage( taq.getUrl({'moduleId' : 'account', 'actionId' : 'logout'}), {inoutflag: $('[name=inoutflag]').val()});
				});
				
				if(location.href.indexOf('account') < 0){
					pdss.getJson({url : '/careers/svc/account/redirectUrl',	data : {'careers.redirectUrl' : location.href }});	
				}
				
				if(null != null && null == 'IN'){

					//height: 700px; overflow-y: auto; width: 720px; margin: 0;
					$('#content_career').attr('style','height: 2500px; overflow-y: auto; width: 720px; margin: 0;');

					parentIFrameReSize();	
				}
				
				// 0001243
				if('Y' == 'Y' ){
					if(window.location.protocol == 'http:'){
						var url = location.href.replace('http:', 'https:');
						location.href = url;
					}	
				}
			});
			
			
		/*]]>*/
		</script>
	</div>

		<img src="../../img/srs/cmm/whysamsungelectronics.jpg" alt="" width="730" height="270" style="margin-bottom: 10px; margin-left:10px" />
<!-- 		<img th:src="@{'/img/srs/cmm/top_img.jpg'}" alt="" width="730" height="120" style="margin-bottom: 10px; margin-left:10px" /> -->


		<div class="title_h1">
			<div style="display:inline-block;">
				<h1>Search Jobs</h1>
				<p>Start your search for a new, exciting career with Samsung here</p>
				<p>Click <a href="http://www.samsung.com/sec/careers" target="_blank" class="btn_txt" style="vertical-align:initial">here</a> if you are interested in exploring Career Opportunities at our Corporate Headquarters in Korea.</p>
			</div>
			<div class="right btn" style="margin-top:10px;">
                <a href="javascript:void(0);" class="profile" id="btn_registerprofile" shape="rect"><span><span>Register</span></span></a>
            </div>
		</div>



		<div id="filter_area"><div class="keyword_search_area">		
			<div class="search" style="display:none;">
				<span>Current all open <strong>520</strong> jobs</span>
			</div>
			<div class="filter">
				<!-- <div class="top" th:text="#{word.rec.filter}">Filter</div> -->
				<div class="top">
					<div class="tit"><span>Keyword</span>
						<div class="keyword_search">
							<input type="text" name="keyword" title="keyword search" placeholder="Keyword for below items, Job description and Requisition title/ID" />
							<a href="javascript:void(0);" id="btn_keyword_find"><span class="icon_find">Find</span></a>
						</div>
					</div>
				</div>
				<div class="detail" style="display:none;">
					<div class="pdss_item">
						<div class="pdss_label_left">Job Category</div>
						<div class="pdss_control">
							<select id="category" name="category" type="text" value="" style="width:220px" placeholder="Select">
							<option value="IE" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Accounting &amp; Finance</option><option value="ID" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Communications</option><option value="AC" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Engineering - Circuit</option><option value="AE" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Engineering - S/W</option><option value="AH" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Engineering - Semiconductor Process</option><option value="AB" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Engineering - System</option><option value="CD" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Environment &amp; Safety</option><option value="IJ" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">General Affairs</option><option value="II" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Human Resources</option><option value="IO" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Legal Support</option><option value="GA" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Logistics</option><option value="IB" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Management Support</option><option value="CB" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Manufacturing</option><option value="HD" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Manufacturing Quality Control</option><option value="CE" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Manufacturing Support</option><option value="DB" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Manufacturing Technology</option><option value="EF" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Marketing</option><option value="AG" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Materials Engineering</option><option value="AD" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Mecha Engineering</option><option value="AF" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Optical Engineering</option><option value="EE" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Product Design</option><option value="EH" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Product Planning</option><option value="BB" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Purchasing</option><option value="AA" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">R&amp;D Management</option><option value="AI" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">R&amp;D Support</option><option value="FF" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Sales</option><option value="HE" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Service</option>
							</select>
							<!-- <a href="#" class="btn_txt2" th:text="#{message.rec.viewall}">View All</a> -->
							<div class="filter_cond"></div>
						</div>
					</div>
					<div class="pdss_item">
						<div class="pdss_label_left">Region</div>
						<div class="pdss_control">
							<!-- <div id="region_div" class="pdss_itemgroup">
							</div> -->
							<select id="region" name="v_region" type="text" value="" style="width:220px" placeholder="Select">
							<option value="J" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Africa</option><option value="G" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">CIS</option><option value="C" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Europe</option><option value="B" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Latin America</option><option value="H" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Middle East</option><option value="A" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">North America</option><option value="D" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Southeast Asia</option><option value="I" freecol1Val="" freecol2Val="" freecol3Val="" freecol4Val="" freecol5Val="">Southwest Asia</option>
							</select>
							<div class="filter_cond"></div>
						</div>
					</div>
					<div class="pdss_item">
						<div class="pdss_label_left">Country</div>
						<div class="pdss_control">
							<select id="country" name="v_country" type="text" value="" style="width:220px" placeholder="Select">
							</select><!-- <a href="#" class="btn_txt2">View All</a> -->
							<div class="filter_cond"></div>
						</div>
					</div>
					<div class="pdss_item">
						<div class="pdss_label_left">State</div>
						<div class="pdss_control">
							<select id="location" name="v_location" type="text" value="" style="width:220px" placeholder="Select">
							<!--  [[${#PDSS5.getVCodeGen('{"cvid": "taq.rec.location", "classCd" : "HA210"}')}]] --> 
							</select><!-- <a href="#" class="btn_txt2">View All</a> -->
							<div class="filter_cond"></div>
						</div>
					</div>
					
					<div class="pdss_item">
						<div class="pdss_label_left">City</div>
						<div class="pdss_control">
							<select id="city" name="v_city" type="text" value="" style="width:220px" placeholder="Select">
							</select>
							<div class="filter_cond"></div>
						</div>
					</div>

					<div class="pdss_item">
						<div class="pdss_label_left">Company</div>
						<div class="pdss_control">
							<select id="company" name="v_company" type="text" value="" style="width:220px" placeholder="Select"></select>
							<span id="companyLoadingSpan"></span>
							<div class="filter_cond"></div>
						</div>
					</div>
					
					<div class="pdss_item">
						<div class="pdss_label_left">Job Type</div>
						<div class="pdss_control">
							<div id="jobOpnngTypCd_div" class="pdss_itemgroup">
							</div>
						</div>
					</div>
					<div class="pdss_item">
						<div class="pdss_label_left">Date Posted</div>
						<div class="pdss_control">
							<div id="datePosted_div" class="pdss_itemgroup">
							</div>
						</div>
					</div>
					<div align="right">
					<span><a href="javascript:void(0);" class="normal"><span btn="clear">Clear</span></a></span>
					<span class="btn" style="overflow:visible;"><a href="javascript:void(0);" class="normal"><span btn="search">Search</span></a></span></div>
				</div>
				<a href="javascript:void(0);" class="btn_close">
					<span class="hide" style="display:none;">Hide</span>
					<span class="show">Show More Options</span>
				</a>
			</div>
		</div>

		<input type="hidden" name="filtershowhide" value="" />
<script type="text/javascript">
	
var filter = {
		location : true,
		country : true,
		makeSubItem : function(val, label, tId, makeItemId){
			var pass = true;
    		$(pdss.strToId(tId)).parents('.pdss_control').find('.filter_cond a').each(function(i, itm){
    			if($(itm).attr('code') == val ){
					pass = false;
					return false;
    			}
    		});
    		if(pass){
    			if(!pdss.isEmpty(val)){
    				var inputTag = $('<input type="hidden" />').attr('name', makeItemId).attr('value', val);
    				var inputText = $('<input type="hidden" />').attr('name', makeItemId+"NM").attr('value', label);
        			var tag = '<a href="javascript:void(0);" class="btn_del">'+label+'</a>';
    				var el =  $(tag).attr('code', val).attr('otype', makeItemId).append(inputTag).click(function(){
    					// combo 로 설정된 항목들이 삭제될 때 의 액션( Job Category, Region, Country, State, Company )
    					var tmpOtype = $(this).attr('otype');
    					$(this).remove();  
    					if( tmpOtype == 'jobCatgryCd'){
    						filter.fncompany();
    					}else if( tmpOtype == 'region'){
    						filter.fncountry();
    						filter.fnlocation();
    						filter.fncity();
    						filter.fncompany();
    					}else if( tmpOtype == 'country'){
    						filter.fnlocation();
    						filter.fncity();
    						filter.fncompany();
    					}else if( tmpOtype == 'locCd'){
    						filter.fncity();
    						filter.fncompany();
    					}else if( tmpOtype == 'cityCd'){
    						filter.fncompany();
    					}else if( tmpOtype == 'company'){
    						
    					}
    					
    				}).append(inputText);
    				
    				
    				$(pdss.strToId(tId)).parents('.pdss_control').find('.filter_cond').append(el);	
    				$(pdss.strToId(tId)).parents('.pdss_control').find('span.req_txt').remove();
    			}
    		}

    		$(pdss.strToId(tId) + '_view').unbind('focusout');
    		$(pdss.strToId(tId) + '_view').focusout(function(){
    			$(pdss.strToId(tId)).val('');
    			$(pdss.strToId(tId) + '_view').val('');	
    		}); 
	    		
			return pass;
		},
		onloadEvent : function(){
		    var categoryObj = "category";
		    pdss.makeCodeSearchComboDraw(categoryObj, {
		        url : taq.getCodeUrl()
		        , data : { "classCd" : "REC998" }
		    	, isPlaceHolder : true
		    	,select : function(event, ui){
		    		var isNotSelectedVal = filter.makeSubItem(ui.item.value, $('#category option[value="'+ui.item.value+'"]').text(), categoryObj, 'jobCatgryCd');
		    		if( isNotSelectedVal ){
		    			filter.fncompany.call(null);	
		    		}
		    		return false;
		    	}
		    });
		    
		    if (pdss.isTypeCompare(null, "string")) {
		    	filter.makeSubItem(null, $('#category option[value="'+null+'"]').text(), categoryObj, 'jobCatgryCd');
		    }else{
		        $(null).each(function(i, itm){
		        	filter.makeSubItem(itm, $('#category option[value="'+itm+'"]').text(), categoryObj, 'jobCatgryCd');	
		        });
		    }
	
		    var regionObj = "region";
		    if (pdss.isTypeCompare(null, "string")) {
		    	var regionNm = null;
		    	filter.makeSubItem(null, regionNm, regionObj, 'region');	
		    }else{
		    	var regionNm = null;
		        $(null).each(function(i, itm){
		        	filter.makeSubItem(itm, regionNm[i], regionObj, 'region');	
		        });
		    }		    
	
		    var countryObj = "country";
		    if (pdss.isTypeCompare(null, "string")) {
		    	var countryNm = null;
		    	filter.makeSubItem(null, countryNm, countryObj, 'country');	
		    }else{
		    	var countryNm = null;
		        $(null).each(function(i, itm){
		        	filter.makeSubItem(itm, countryNm[i], countryObj, 'country');	
		        });
		    }		    
		    
		    var locationObj = "location";
		    if(filter.location){
			    pdss.makeCodeSearchComboDraw(locationObj, {
			        url : taq.getCodeUrl()
			        , data : { "classCd" : "HA210" }
			    	, isPlaceHolder : true
			    	, select : function(event, ui){
			    		return filter.makeSubItem(ui.item.value, $('#location option[value="'+ui.item.value+'"]').text(), locationObj, 'locCd');
			    	}
			    });	
		    }
		    
		    if (pdss.isTypeCompare(null, "string")) {
		    	var locNm = null;
		    	filter.makeSubItem(null, locNm, locationObj, 'locCd');	
		    }else{
		    	var locNm = null;
		        $(null).each(function(i, itm){
		        	filter.makeSubItem(itm, locNm[i], locationObj, 'locCd');	
		        });
		    }
		    
		    var cityObj = "city";
		    if (pdss.isTypeCompare(null, "string")) {
		    	var cityNm = null;
		    	filter.makeSubItem(null, cityNm, cityObj, 'cityCd');	
		    }else{
		    	var cityNm = null;
		        $(null).each(function(i, itm){
		        	filter.makeSubItem(itm, cityNm[i], cityObj, 'cityCd');	
		        });
		    }
		    
		    var companyObj = "company";
		    if (pdss.isTypeCompare(null, "string")) {
		    	var companyNm = null;
		    	filter.makeSubItem(null, companyNm, companyObj, 'company');	
		    }else{
		    	var companyNm = null;
		        $(null).each(function(i, itm){
		        	filter.makeSubItem(itm, companyNm[i], companyObj, 'company');	
		        });
		    }
		}
		, fncountry: function(){
			$('#country').html('');
			var countryObj = "country";
			var rData = [{"name" : "cvid", "value":"taq.rec.countryfilter"},{"name":"classCd", "value":"HA210"}];
			var reqData = $.merge($('input[name="region"]').serializeArray(),rData);
			pdss.loading.show();
			pdss.makeCodeSearchCombo(countryObj, {
		        url : taq.getCodeUrl()
		        , data : reqData
		        , async : false
		    	, isPlaceHolder : true
		    	,select : function(event, ui){
		    		var isNotSelectedVal = filter.makeSubItem(ui.item.value, $('#country option[value="'+ui.item.value+'"]').text(), countryObj, 'country');
		    		if( isNotSelectedVal ){
		    			filter.fnlocation.call(null);
		    			filter.fncity.call(null);
			    		filter.fncompany.call(null);	
		    		}
		    		return false;
		    	},
		    	complete : function(){ pdss.loading.hide(); }
		    });	
			
		}
		, fnlocation : function(){

			
			var locationObj = "location";
			if($('input[name="region"]').serializeArray().length > 0 || $('input[name="country"]').serializeArray().length > 0){
				var rData = [{"name" : "cvid", "value":"taq.rec.statefilter"},{"name":"classCd", "value":"HA210"}];
				var tData = $.merge($('input[name="region"]').serializeArray(),$('input[name="country"]').serializeArray());
				var reqData = $.merge(tData, rData);
				//	console.log(reqData);
				$('#location').html('');
				pdss.loading.show();
				pdss.makeCodeSearchCombo(locationObj, {
			        url : taq.getCodeUrl()
			        , data : reqData
			        , async : false
			    	, isPlaceHolder : true
			    	,select : function(event, ui){
			    		var isNotSelectedVal = filter.makeSubItem(ui.item.value, $('#location option[value="'+ui.item.value+'"]').text(), locationObj, 'locCd');
			    		if( isNotSelectedVal ){
			    			filter.fncity.call(null);
			    			filter.fncompany.call(null);	
			    		}
			    		return false;
			    	},
			    	complete : function(){ pdss.loading.hide(); }
			    });		
			}else{
				$('#location').html('');
				pdss.loading.show();
				pdss.makeCodeSearchComboDraw(locationObj, {
			        url : taq.getCodeUrl()
			        , data : { "classCd" : "" }
			    	, isPlaceHolder : true
			    	,select : function(event, ui){
			    		return filter.makeSubItem(ui.item.value, $('#location option[value="'+ui.item.value+'"]').text(), locationObj, 'locCd');
			    	}
			    });	
				pdss.loading.hide();
			}
		}
		, fncity : function(){
			var cityObj = "city";
			if($('input[name="region"]').serializeArray().length > 0 || $('input[name="country"]').serializeArray().length > 0 || $('input[name="locCd"]').serializeArray().length > 0){
			
				var rData = [{"name" : "cvid", "value":"taq.rec.cityfilter"},{"name":"classCd", "value":"city"}];
				var tData = $.merge($('input[name="region"]').serializeArray(),$('input[name="country"]').serializeArray());
				tData = $.merge( tData, $('input[name="locCd"]').serializeArray());
				
				if( $('input[name="locCd"]').serializeArray().length > 0 ){
					tData = $.merge( tData,[{"name" : "nonLocCd", "value" : $('input[name="locCd"]:first').val() }] );
				}
				
				var reqData = $.merge(tData, rData);
				
				$('#city').html('');
				pdss.loading.show();
				pdss.makeCodeSearchCombo(cityObj, {
			        url : taq.getCodeUrl()
			        , data : reqData
			        , async : false
			    	, isPlaceHolder : true
			    	,select : function(event, ui){
			    		var isNotSelectedVal = filter.makeSubItem(ui.item.value, $('#city option[value="'+ui.item.value+'"]').text(), cityObj, 'cityCd');
			    		if( isNotSelectedVal ){
			    			filter.fncompany.call(null);	
			    		}
			    		return false;
			    	},
			    	complete : function(){ pdss.loading.hide(); }
			    });		
			}else{

				$('#city').html('');
				pdss.loading.show();
				pdss.makeCodeSearchComboDraw(cityObj, {
			        url : taq.getCodeUrl()
			        , data : { "classCd" : "" }
			    	, isPlaceHolder : true
			    	,select : function(event, ui){
			    		return filter.makeSubItem(ui.item.value, $('#city option[value="'+ui.item.value+'"]').text(), cityObj, 'cityCd');
			    	}
			    });	
				pdss.loading.hide();
			}

		}
		, fncompany : function(){
			var companyObj = "company";
			
			var rData = [{"name" : "cvid", "value":"taq.rec.companyfilter"},{"name":"classCd", "value":"HA210"}];

			if(    $('input[name="jobCatgryCd"]').serializeArray().length > 0 
				|| $('input[name="region"]').serializeArray().length > 0 
				|| $('input[name="country"]').serializeArray().length > 0
				|| $('input[name="locCd"]').serializeArray().length > 0
				|| $('input[name="cityCd"]').serializeArray().length > 0
				|| $('input[name="jobOpnngTypCd"]').serializeArray().length > 0
				|| $('input[name="datePosted"]').serializeArray().length > 0
				){
				
				var tData = $.merge(rData,$('input[name="jobCatgryCd"]').serializeArray());
					tData = $.merge(tData,$('input[name="region"]').serializeArray());
					tData = $.merge(tData,$('input[name="country"]').serializeArray());
					tData = $.merge(tData,$('input[name="locCd"]').serializeArray());
					tData = $.merge(tData,$('input[name="cityCd"]').serializeArray());
					tData = $.merge(tData,$('input[name="jobOpnngTypCd"]').serializeArray());
					tData = $.merge(tData,$('input[name="datePosted"]').serializeArray());
					
				if( $('input[name="locCd"]').serializeArray().length > 0 ){
					tData = $.merge( tData,[{"name" : "nonLocCd", "value" : $('input[name="locCd"]:first').val() }] );
				}
					
				$('#company').html('');
				pdss.loading.show();
				//$('#companyLoadingSpan').addClass("icon_loading"); // 작은 로딩
				pdss.makeCodeSearchCombo(companyObj, {
			        url : taq.getCodeUrl()
			        , data : tData
			        , async : false
			    	, isPlaceHolder : true
			    	,select : function(event, ui){
			    		return filter.makeSubItem(ui.item.value, $('#company option[value="'+ui.item.value+'"]').text(), companyObj, 'company');
			    	},
			    	success : function(data){
			    		//console.log('something selected fncompany success', data);
			    	},
			    	complete : function(){ 
			    		pdss.loading.hide(); 
			    		//$('#companyLoadingSpan').removeClass(); // 작은 로딩
			    	}
			    });		
			}else{
				$('#company').html('');
				pdss.loading.show();
				//$('#companyLoadingSpan').addClass("icon_loading"); // 작은 로딩
				pdss.makeCodeSearchCombo(companyObj, {
			        url : taq.getCodeUrl()
			        , data : rData
			        , async : false
			    	, isPlaceHolder : true
			    	,select : function(event, ui){
			    		return filter.makeSubItem(ui.item.value, $('#company option[value="'+ui.item.value+'"]').text(), companyObj, 'company');
			    	},
			    	success : function(data){
			    		//console.log('no selected fncompany success', data);
			    	},
			    	complete : function(){ 
			    		pdss.loading.hide();
			    		//$('#companyLoadingSpan').removeClass(); // 작은 로딩
			    	}
			    });		
			}
            
		}
}
</script>	
	
<script type="text/javascript">		
$(function() {
	
	$('#btn_keyword_find').click(function(){
		
/* 		if($('form[name="f"] :input[name="locCd"]').length == 0){
			if($('[name="region"]:checked').length > 0){
				$('#location').parents('.pdss_control').find('span.req_txt').remove();
				$('<span class="req_txt">'+'Required'+'</span>').insertBefore($('#location').parents('.pdss_control').find('.filter_cond'));	
			}
		}else{ */
			service.submit();	
		/* } */
	});
	
	$('[name="keyword"]').val(null).keydown(function(event){
		if(event.which == 13){
			service.submit();
		}
	});
	
	var regionObj = "region";
	pdss.makeCodeSearchComboDraw(regionObj, {
        url : taq.getCodeUrl()
        , data : { "classCd" : "SAC02" }
    	, isPlaceHolder : true
    	,select : function(event, ui){
    		var isNotSelectedVal = filter.makeSubItem(ui.item.value, $('#region option[value="'+ui.item.value+'"]').text(), regionObj, 'region');
    		if( isNotSelectedVal ){
    			filter.fncountry.call(null);
        		filter.fnlocation.call(null);
        		filter.fncity.call(null);
        		filter.fncompany.call(null); 
    		}
    		return false;
    	}
    });
	
	var companyObj = "company";
	pdss.makeCodeSearchComboDraw(companyObj, {
        url : taq.getCodeUrl()
        , data : {"name" : "cvid", "value":"taq.rec.companyfilter"}
    	, isPlaceHolder : true
    	,select : function(event, ui){
    		return false;
    	}
    });	
	
	
	pdss.makeCodeCheckbox("jobOpnngTypCd_div", {
		  url : taq.getCodeUrl()
		, makingObjName : "jobOpnngTypCd"
		, async : false
		, defaultChecked : null
		, data : { "classCd" : "REC120" } 
		, success : function(data){
			$('input[name=jobOpnngTypCd]').click(function(){
				filter.fncompany();
			});
    	}
	}); 
	
    pdss.makeCodeRadio("datePosted_div", {
		  url : taq.getCodeUrl()
		, makingObjName : "datePosted"
		, async : false
		, defaultChecked : null
		, data : { "classCd" : "REC252" } 
	    , success : function(data){
			$('input[name=datePosted]').change(function(event, ui){
				filter.fncompany();
			});
		}
	    
	}); 
    
    filter.country = false;
	filter.location = false;
	filter.onloadEvent();
	filter.fncountry();
	filter.fnlocation();
	filter.fncity(); 
	filter.fncompany(); 
    
    $('.filter a.btn_close').click(function(){
    		$(this).children('span').toggle();
    		$('.filter .detail').toggle();
    		var isblock = true;
    		if($('.filter .detail').css('display') == 'block'){
    			isblock = 'true';
    		}else{
    			isblock = 'false';
    		}
    		$('input[name="filtershowhide"]').val(isblock);
   	});
    
    $('.filter [btn=search]').click(function(){
    		$('#btn_keyword_find').trigger('click');
   	});
    
    $('.filter [btn=clear]').click(function(){
		 
   		$('form[name="f"]').find('.filter_cond').html('');
   		$('form[name="f"]').find('[name="jobOpnngTypCd"]').prop('checked', false);
   		$('form[name="f"]').find('[name="datePosted"]').prop('checked', false);
   		filter.fncompany();
    		
   	});
	
    if(null == 'true'){
    	 $('.filter a.btn_close').trigger('click'); 	
    }else if(null == 'false'){
    }else{
    	$('.filter a.btn_close').trigger('click'); 
    }
   
});

</script>
</div>

<!-- 		 <div th:if="${session} and !${session['_user']}" th:include="taq/rec/career/cmm/rec_incconfirmmessage"/>  -->

 		<div class="cont_wrap">
			<div class="title_h2">
				<h2>1 Jobs</h2>
				
				
				<div class="right"><div class="combo_select_wrap">
		<select name="searchViewRows" id="searchViewRows" class="pdss_combo_input" style="width:100px;">
		
		</select>
	</div>
		
	<script type="text/javascript">
		
		$(function() {
			
		    pdss.makeCodeCombo("searchViewRows", {
		        url : taq.getCodeUrl()
		        , data : { "classCd" : "REC001" }
		    	, custom_class : 'pdss-border-none'
		        , defaultSelected : null
		        ,select : function(event, ui) {
		        	service.searchViewRowsChange(event, ui);
			    }
		    });
			
		});
		
	</script>		
</div>
				
			</div>

			<div><ul class="job_list">
					<li>
						<div class="cont">
							<span style="display:block;vertical-align: bottom;">
<!-- 						    <a href="javascript:void(0);" style="display:inline-block;" class="btn_favo"  th:if="${row['myflag']} == 'Y'" th:attr="compCd=${row['compCd']}, siteId=${row['siteId']}, reqstnNo=${row['reqstnNo']}"><span th:class="${row['myflag']} == 'Y' ?'on':''"></span></a> -->
							    
							    <a href="javascript:void(0);" style="display:none;" class="btn_favo" reqstnNo="246099" siteId="AB11" compCd="C10"><span></span></a>
								<a href="javascript:void(0);" style="display:inline-block;" class="title" reqstnNo="246099" compCd="C10" siteId="AB11" jobTitle="Android Enterprise Developer  - San Francisco, CA">Android Enterprise Developer  - San Francisco, CA (246099)</a>
							</span>
							<span class="type">S/W Engineering, Regular Full-Time, Travel Required 20%</span>
							<div class="inpo">
								<!-- <span>Samsung Electronics America, Inc.</span> -->
								<strong>Samsung Electronics America</strong>
								<span class="location">,</span>
								<span class="location"> Milpitas California</span>
								<!-- <p>Industry  : [Production] Semiconductor, Company Scale :  about 1,000 People</p> -->
							</div>
						</div>
						<div class="sub">
							<div class="icon_box">
<!-- 								<div class="share_box" th:if="${row['myflag']} == 'Y'" th:include="taq/rec/career/cmm/rec_incshare::layer_share">
								</div> -->
								
								<div class="state">
									
									<span>Jun 3, 2015</span>
									
								</div>
							</div>
						</div>
					</li>
					<!-- 리스트가 없을 경우 -->
					
				</ul>
				<!-- paging -->
					<div id="pagination" class="paging" totalCount="1" currentPage="1"></div>
				<!-- //paging -->
	<script type="text/javascript">
	var postlist = {
			jobDetailOpen : function(reqData){
				$('#share_by_mail').remove();
				
				if($('#layer_jobdetail_zone').length == 0){
					var applydetail_zone = $('<div id="layer_jobdetail_zone" style="display:none;"></div>');				
					$('#content_career').append(applydetail_zone);
				}
				
				$('#layer_jobdetail').remove();
				
				pdss.getLoadingHtml({
					url : taq.getUrl({'moduleId' : 'app' , 'actionId' : 'viewJobDetail'}),
					data : reqData,
					tId : 'layer_jobdetail_zone',
					success : function(data){
						pdss.dialog('layer_jobdetail',{
			                custom_class : 'layer_detail',
			                width: 660,
			                modal: true,
			                open : function(){
			                	$('#layer_jobdetail').tinyscrollbar();
			                }
			            });
                         
			        }
				    ,complete : function(){
				    	setTimeout(function () { $('#layer_jobdetail').tinyscrollbar_update('relative');    }, 1500);
				    	
				    }
				}); 
				
			}
	}
	
	</script>
	
	<script type="text/javascript">
	/*<![CDATA[*/
	$(function() {
		 // 화면 단 페이징 처리
	    pdss.makePaging("pagination", service.submit, null, 10, true);
		 
		$('ul.job_list a.title').click(function(){
			var reqData = {reqstnNo : $(this).attr('reqstnNo'), siteId:$(this).attr('siteId'), compCd: $(this).attr('compCd'), jobTitle : $(this).attr("jobTitle")};
			postlist.jobDetailOpen(reqData);
			
		});	
		
		if(!pdss.isEmpty(['246099'])){
			$('li:has([reqstnNo="'+['246099']+'"])').find('[reqstnNo="'+['246099']+'"]').trigger('click');
		}else if(!pdss.isEmpty('246099') && !pdss.isEmpty('C10') && !pdss.isEmpty('AB11')){
			$('li:has([reqstnNo="'+'246099'+'"]):has([compCd="'+'C10'+'"]):has([siteId="'+'AB11'+'"])').find('[reqstnNo="'+'246099'+'"]').trigger('click');
		}
		
		
	});
	/*]]>*/
	</script>	</div>

		</div>

		<div id="recommend_area">

	<script type="text/javascript">
		
		$(function() {
			 
			$('div.recom_list a.title').click(function(){
				var reqData = {reqstnNo : $(this).attr('reqstnNo'), siteId:$(this).attr('siteId'), compCd: $(this).attr('compCd'), jobTitle : $(this).attr("jobTitle")};
				postlist.jobDetailOpen(reqData);
			});					
		});
		
	</script>
	

	</div>
		
	</div>

	<div style="display:none;"><div id="share_by_mail" buttonlabel="button1|button2" class="ui-dialog-content ui-widget-content">
	<!-- 팝업body -->
		<input type="hidden" name="mailcode" value="REC_RF-EX" />
		<input type="hidden" name="reqstnNo" />
		<input type="hidden" name="compCd" />
		<input type="hidden" name="siteId" />
		<input type="hidden" name="locnm" />
		<input type="hidden" name="jobTitle" />
		<div class="mail">
			<div class="pdss_item">
				<div class="pdss_label_left">Your E-Mail</div>
				<div class="pdss_control">
					<span class="pdss-textbox">
						<input type="text" readonly="readonly" name="shareSenderEmail" style="width:220px" value="" />
					</span>
				</div>
			</div>
			<div class="pdss_item">
				<div class="pdss_label_left">Your Name</div>
				<div class="pdss_control">
					<span class="pdss-textbox">
						<input type="text" readonly="readonly" name="shareSenderNm" style="width:220px" value="" />
					</span>
				</div>
			</div>
			<div class="pdss_item">
				<div class="pdss_label_left">
					<span class="friend">Receivers E-Mail</span>
				</div>
				<div class="pdss_control">
					<span class="pdss-textbox">
						<input type="text" name="friendEmail" value="" style="width:220px" placeholder="Write An E-mail Address" />
					</span>
				</div>
			</div>
		</div>
		<div class="popup_btn">
			<div class="btn"><a href="javascript:void(0);" id="btn_email_to_friend"><span>Send E-Mail</span></a></div>
		</div>
	<!-- //팝업body -->
	</div>	
			
	<script type="text/javascript">
		
		$(function() {
			
			$('input[name=friendEmail]').bind('change keyup', function(){
                if(!pdss.isEmpty($(this).val())) {
                	var curObj = $(this)[0];
                	var currentCursorPosition = curObj.selectionStart;
                    var curObjVal = pdss.changeLower($(this).val());
                    $(this).val(curObjVal);
                    curObj.selectionStart = curObj.selectionEnd = currentCursorPosition;
                }
        	});
			
			$('#share_by_mail').find('input[name="friendEmail"]').focusout(function(){
				var obj = $('#share_by_mail').find('input[name="friendEmail"]');
				if(!pdss.isEmail($(obj).val())){
					$(obj).val('');

					var obj = $('#share_by_mail').find('input[name="friendEmail"]').parents('.pdss_control');
					$(obj).find('span.req_txt').remove();
					if($(obj).find('span.req_txt').length == 0){
						$(obj).append('<span class="req_txt">'+'Wrong E-Mail format'+'</span>');	
					}
				}
			});
			
			$('#share_by_mail').find('input[name="friendEmail"]').focusin(function(){
				$(this).parents('.pdss_control').find('span.req_txt').remove();
			});
			
			$('#btn_email_to_friend').click(function(){
				$('#share_by_mail').find('span.req_txt').remove();
				
				var pass = true;
				var obj = $('#share_by_mail').find('input[name="friendEmail"]');
				if(!pdss.isEmail($(obj).val())){
					pass = false;
					
					var obj = $('#share_by_mail').find('input[name="friendEmail"]').parents('.pdss_control');
					$(obj).find('span.req_txt').remove();
					if($(obj).find('span.req_txt').length == 0){
						$(obj).append('<span class="req_txt">'+'Wrong E-Mail format'+'</span>');	
					}
				}
				
				if(pass){
					var emailUrl = taq.getUrl({'moduleId' : 'account' , 'actionId' : 'insertShareByMail'});
					pdss.getJson({
						url : emailUrl,
						data : $('#share_by_mail :input').serialize(),
						success : function(){ 
							
							var extnMsgCntnt =  decodeURIComponent( $('#share_by_mail :input').serialize() );
							var shareData = { 'extnTypCd' : 'email'
									        , 'extnActionCd' : 'shareCD'
									        , 'connStatCd' : '' 
									        , 'extnUrl' : emailUrl
									        , 'extnMsgCntnt' : extnMsgCntnt };
							share.shareConnLog(shareData);
							
							$('#share_by_mail').dialog('close');
	 			        }
					}); 
				}
				
			});
		});
		
	</script>		
</div>
	<!-- //content -->
	</form>	
	<input type="hidden" id="condition" value="reqstnNo=246099&amp;compCd=C10&amp;source=Indeed&amp;siteId=AB11" />
	<div style="display:none;"><div id="layer_forgotpassword" class="ui-dialog-content ui-widget-content" title="Reset your password?">
			<!-- 팝업body -->
			<div id="layer_forgotpassword_item">
				<input type="hidden" name="mailcode" value="REC_CP-PW" />
				<div class="pdss_item">
					<div class="pdss_label_left">Enter Your E-mail</div>
					<div class="pdss_control">
						<span class="pdss-textbox">
							<input type="text" id="forgotPasswordEmailId" name="emailId" value="" style="width:320px" placeholder="Write An E-mail Address" />
						</span>
					</div>
				</div>
				<div class="popup_btn">
					<div class="btn"><a href="javascript:void(0);" id="btn_get_new_password"><span>Send E-Mail for password change</span></a></div>
				</div>
				<div class="view_txt2" style="padding-top: 15px;">You will receive an email to activate your account. Please activate by clicking the link in the email you receive. If you do not receive an email from no.reply.recruiting@samsung.com, please check your SPAM or Junk folder.</div>
			</div>
			<!-- //팝업body -->
			<div id="forgotpasswordmessage_zone" style="display:none;"><div id="layer_forgotpasswordmessage" class="ui-dialog-content ui-widget-content">
			<!-- 팝업body -->
				<div class="popup_confirm">
					<strong>An email has been sent to the address you specified. Please click on the link in that email to set a new password.</strong> 
				</div>
				<div class="popup_btn">
					<div class="btn"><a href="javascript:void(0);"><span>OK</span></a></div>
				</div>
			<!-- //팝업body -->
		</div>

	<script type="text/javascript">
		
		$(function() {
			$('#layer_forgotpasswordmessage .popup_btn a').click(function(){
				$('#layer_forgotpassword_item :input[name="emailId"]').val('');
				$('#layer_forgotpassword_item').show();
				 $('#forgotpasswordmessage_zone').hide();
				 $('#layer_forgotpassword').dialog('close');
			});
		});
		
	</script>
</div>
		</div>

	
	<script type="text/javascript">
	var forgetPwdService = {
			fn_requireAppend : function(obj){
				$('#layer_forgotpassword').find('span.req_txt').remove();
				$(obj).append('<span class="req_txt"><br />'+'Required'+'</span>');	
			},		
			fn_RequireAppend2 : function(obj){
				$('#layer_forgotpassword').find('span.req_txt').remove();
				$(obj).append('<span class="req_txt"><br />'+'E-mail not found'+'</span>');	
			}		
	}
	
		$(function() {
			
			$('input[name=emailId]').bind('change keyup', function(){
                if(!pdss.isEmpty($(this).val())) {
                	var curObj = $(this)[0];
                	var currentCursorPosition = curObj.selectionStart;
                    var curObjVal = pdss.changeLower($(this).val());
                    $(this).val(curObjVal);
                    curObj.selectionStart = curObj.selectionEnd = currentCursorPosition;
                }
        	});
			
			var dupEmailPass = true;
			$('#layer_forgotpassword').find('input[name="emailId"]').focusout(function(){
				if(!pdss.isEmail($(this).val())){
					$(this).val('');
					forgetPwdService.fn_requireAppend($('#layer_change_email').find('input[name="emailId"]').parents('.pdss_control'));
				}else{
					/*
					// 0001187: careers > user's credentials enumeration 보안점검 보완
					$('#layer_forgotpassword').find('input[name="emailId"]').parents('.pdss_control').find('span.req_txt').remove();
					pdss.getJson({
						url : taq.getUrl({'moduleId' : 'account' , 'actionId' : 'viewEmailDupCheck'}),
						data : $('#layer_forgotpassword :input').serializeArray(),
						success : function(json){
							if(json.emailDupCnt > 0){
								dupEmailPass = true;
								
							}else{
								dupEmailPass = false;
								forgetPwdService.fn_RequireAppend2($('#layer_forgotpassword').find('input[name="emailId"]').parents('.pdss_control'));
							}
						}
					});	
					*/
				}
			});
			
			$('#layer_forgotpassword').find('[requir="true"]').focusout(function(){
				$(this).parents('.pdss_control').find('span.req_txt').remove();
			});
			
			$('#btn_get_new_password').click(function(){

				if($('#layer_forgotpassword').find('input[name="emailId"]').val() == ''){
					forgetPwdService.fn_requireAppend($('#layer_forgotpassword').find('input[name="emailId"]').parents('.pdss_control'));	
					return false;
				} 
				
				/*
				// 0001187: careers > user's credentials enumeration 보안점검 보완
				if(!dupEmailPass){
					forgetPwdService.fn_RequireAppend2($('#layer_forgotpassword').find('input[name="emailId"]').parents('.pdss_control'));
					return false;
				}
				*/
				
				pdss.getLoadingJson({
					url : taq.getUrl({'moduleId' : 'account' , 'actionId' : 'updateforgetPassword'}),
					data : $('#layer_forgotpassword :input').serializeArray(),
					success : function(json){ 
						 if(json.message.messageCode == "00"){
							 //pdss.goPage( taq.getUrl({'moduleId' : 'account', 'actionId' : 'login'}), {inoutflag: $('[name=inoutflag]').val()});
							 $('#layer_forgotpassword_item').hide();
							 $('#forgotpasswordmessage_zone').show();
						}else{
							forgetPwdService.fn_RequireAppend2($('#layer_forgotpassword').find('input[name="emailId"]').parents('.pdss_control'));
						}
						
 			        }
				});

			});
		});
		
	</script>
</div>
	
<script type="text/javascript" xml:space="preserve">
	
	var share = {
			shareToggle : function(e){
				
				$('#layer_share').appendTo($(e).parent());	
				$('#layer_share').show();
				
 				$('body').click(function(event){
					var target = $( event.target );
					
					if(!target.is("a.icon_share")){
						if(!$(target).is("#layer_share")){
							if(!$(target).parents('#layer_share').is("#layer_share")){
								$('#layer_share').hide();		
							}
						}
					}
				});
			}
		, favoriteToggle : function(e){
			var reqData = {
					compCd : $(e).attr('compCd'), 
					siteId : $(e).attr('siteId'), 
					reqstnNo : $(e).attr('reqstnNo')
			};
			
			pdss.getJson({
					url : taq.getUrl({'moduleId' : 'service' , 'actionId' : 'modifyFavorite'}),
					data : reqData,
					success : function(json){
						if(json.resultCnt > 0){
							$(e).children('span').toggleClass('on');	
							$('ul.job_list a.btn_favo[reqstnNo="'+reqData.reqstnNo+'"]').html($(e).html()).show();
						}else{
							//alert('update fail');
						}
			        }
				}); 
		}
		, email : function(obj){
			if({'authUserId':null,'compCd':'compCd','corpCd':'corpCd','deptCd':null,'deptNm':null,'idno':null,'instNm':null,'logLevel':null,'logLvlcd':null,'loginId':null,'loginRoute':null,'loginTmstmp':null,'menuTypCd':null,'name':'anonymoususer','siteId':'siteId','siteIdValue':null,'siteNm':'','ssoId':null,'userId':'guest','userIdno':null,'userIp':null} == null){
				pdss.goPage( taq.getUrl({'moduleId' : 'account' , 'actionId' : 'login'}), {inoutflag: $('[name=inoutflag]').val()});					
			}else{
				
				$('#share_by_mail').find('input[name="reqstnNo"]').val($(obj).attr("reqstnNo"));
				$('#share_by_mail').find('input[name="compCd"]').val($(obj).attr("compCd"));
				$('#share_by_mail').find('input[name="siteId"]').val($(obj).attr("siteId"));
				$('#share_by_mail').find('input[name="locnm"]').val($(obj).attr("locnm"));
				
				pdss.dialog('share_by_mail',{
					width: 518,
					modal: true,
					open : function(){
						$('#share_by_mail').find('input[name="friendEmail"]').parents('.pdss_control').find('span.req_txt').remove();
					}
				});	
			}
		}
		, shareOpen : function(url){
			window.open(url,
					  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=450');
		}
		, shareConnLog : function(shareJsonData){
			var shareData = {'extnTypCd' : shareJsonData.extnTypCd
					       , 'extnActionCd' : shareJsonData.extnActionCd
					       , 'connStatCd' : shareJsonData.connStatCd
					       , 'extnUrl' : shareJsonData.extnUrl
					       , 'extnMsgCntnt' : shareJsonData.extnMsgCntnt };
			/*
			pdss.getJson({
				url : taq.getUrl({'moduleId' : 'app' , 'actionId' : 'setExternalConnLog'})
				, data :  shareData
				, success : function(json){
					
				}
			});
			*/
		}
		
	}
	
	$(function() {
	
		$('ul.job_list a.btn_favo').click(function(){
			share.favoriteToggle($(this));
		});
	});	

	</script>

<script type="text/javascript" xml:space="preserve">
/*<![CDATA[*/
	var service = {
			searchViewRowsChange : function (event, ui){
				service.submit();
			}
			, submit : function(event){
				var reqData = null;
				if(event != undefined){
					reqData = pdss.extend(service.getParamsData(), event.data );
				}else{
					reqData = pdss.serializeArray('f');
				}
				if( $('form[name=f]').find('input[name="locCd"]').serializeArray().length > 0 ){
					if( pdss.isEmpty( reqData.nonLocCd ) ){
						reqData = $.merge( reqData,[{"name" : "nonLocCd", "value" : $('form[name=f]').find('input[name="locCd"]:first').val() }] );	
					}
				}
				
				$(reqData).each(function(i, item){
					if( 'keyword' == item['name'] ){
						item['value'] = $.trim( item['value'] );
					}
				});
				pdss.goPage( taq.getUrl({'moduleId' : 'app' , 'actionId' : 'viewSearchJob'}), reqData);
			},
			getParamsData : function (){
			    return  pdss.deparam( $("#condition").val() );
			}
			
	}

	$(function() {

		$('#btn_registerprofile').click(function(){
            pdss.goPage( taq.getUrl({'moduleId' : 'account' , 'actionId' : 'viewRegisterProfile'}), {inoutflag: $('[name=inoutflag]').val()});
        });
		
		$('#btn_forgotpassword').click(function(){
	           pdss.dialog('layer_forgotpassword',{
	                custom_class : 'layer_password',
	                width: 558,
	                modal: true,
	                title : 'Renew Password',
	                open : function(){
	                	$('#layer_forgotpassword_item :input[name="emailId"]').val('');
	                	$('#layer_forgotpassword_item').show();
	   				 	$('#forgotpasswordmessage_zone').hide();
	                }
	            }); 
		});
		
		$('#btn_linkedin').click(function(){
			$('#msg_area_linkedin').hide();
			var inoutflag = $('[name=inoutflag]').val();
			var returnUrl = $('[name=returnUrl]').val();
			var winname = window.name;
			if( winname==null || winname == '') {
				window.name = "parentWin";
				winname = "parentWin";
			}
			var url = "/careers/svc/account/linkedin?inoutflag="+inoutflag+"&winname="+winname+"&returnUrl="+returnUrl;
			var opt = "width=450,height=600,scrollbars=yes,resizeable=no,menubar=no,toolbar=no";
			//alert(url);
			window.open(url,"linkedinLogin",opt);
		});
	});

	/*]]>*/ 
</script>

<!-- XXX 임시 경고 부분 시작 -->
<div id="layer_guest_notice" style="display:none; padding: 0 10px 10px 10px;">
	<p>We have recently upgraded our career site. If you registered a profile on our career site prior to February 2014, please take a moment to activate your account on our new career site by validating your credentials.</p>
	<p>To validate your credentials and set your password, please click <a href="javascript:void(0);" id="btn_forgotpassword" style="vertical-align:initial" shape="rect">here</a>. Alternatively, if you have a LinkedIn profile, you can <a href="javascript:void(0);" id="btn_linkedin" style="vertical-align:initial" shape="rect">login with LinkedIn</a>. </p>
	<p>&nbsp;</p>
	<p>Please also use this opportunity to update your preferences (Job Category, Location and Job Type) and profile in the <b>“My Account”</b> and <b>“My Profile”</b> sections of the career site. </p>
</div>
<script type="text/javascript" xml:space="preserve">
/*<![CDATA[*/
	function setCookie( name, value, expiredays ) {  
	    var todayDate = new Date();  
	    todayDate.setDate( todayDate.getDate() + expiredays ); 
	    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";" 
	}
	$(function() {

		if( false && 'guest' == 'guest' && null != 'Y') {
			//오늘 하루동안 안 보기 팝업 
			var cookiedata = document.cookie;  
		    if (cookiedata.indexOf("cookie_guest=done") < 0){
		    	pdss.dialog('layer_guest_notice',{
		            custom_class : 'pdss_help title_help',
		            width: 690,
		            height: 'auto',
		            modal: true,
		            buttons: [ { text: 'Close', click: function(){ 
		                            if($(":input:checkbox[name=today_close]").prop( "checked" )) {
		                            	setCookie( "cookie_guest", "done" , 1 ); 
		                            }
		                            
		                            $(this).dialog('close');
		                     }} ],
		            open: function(){
		                var html = '<span style="vertical-align:middle; margin-right:20px;" ><input type="checkbox" name="today_close"/>Do Not Display for 24 Hours</span>'
		                
		                $('.ui-dialog-buttonset').prepend(html);
		            }
		    		, close : function(){
						pdss.getJson({url : taq.getUrl({'moduleId' : 'account' , 'actionId' : 'setCookie'}), async : false,	'data' : {'careers.cookie' : 'Y'}});
						
		    		}
		        });
		    }
		}
	});  
/*]]>*/ 
</script>
<!-- XXX 임시 경고 부분 종료 -->

<!-- //CONTENT end -->
	</div>
	<div id="footer_career">
		<div class="footer_container_career">
			<p>
				Copyright © 1995-2014 SAMSUNG All rights reserved.
			</p>
		</div>
	</div>
</div>
</body>
</html> 